<nav
  class="flex-column mx-auto flex flex-wrap items-center justify-between pt-4 md:flex-row"
  aria-label="Table navigation"
>
  <ul class="inline-flex h-8 -space-x-px text-sm rtl:space-x-reverse">
    <li>
      <a
        href="#"
        class="ms-0 flex h-8 items-center justify-center rounded-s-lg border border-white bg-orange-600 px-3 text-center  text-white hover:bg-white hover:text-black dark:border-white  dark:text-white dark:hover:text-black"
        >Anterior</a
      >
    </li>
    <li>
      <a
        href="#"
        class="flex h-8 items-center justify-center border  bg-blue-950 px-3 text-center  text-white hover:bg-blue-100 hover:text-blue-700   dark:text-white  dark:hover:text-white"
        >1</a
      >
    </li>
    <li>
      <a
        href="#"
        class="flex h-8 items-center justify-center border  bg-blue-950 px-3 text-center  text-white hover:bg-blue-100 hover:text-blue-700   dark:text-white  dark:hover:text-white"
        >2</a
      >
    </li>
    <li>
      <a
        href="#"
        aria-current="page"
        class="flex h-8 items-center justify-center border  bg-orange-600 px-3 text-center text-white hover:bg-white hover:text-black  dark:text-white"
        >3</a
      >
    </li>
    <li>
      <a
        href="#"
        class="flex h-8 items-center justify-center border  bg-blue-950 px-3 text-center  text-white hover:bg-blue-100 hover:text-blue-700   dark:text-white  dark:hover:text-white"
        >4</a
      >
    </li>
    <li>
      <a
        href="#"
        class="flex h-8 items-center justify-center border  bg-blue-950 px-3 text-center  text-white hover:bg-blue-100 hover:text-blue-700   dark:text-white  dark:hover:text-white"
        >5</a
      >
    </li>
    <li>
      <a
        href="#"
        class="dark:hover:orange-600 flex h-8 items-center justify-center rounded-e-lg border border-white bg-orange-600 px-3 text-center  text-white hover:bg-blue-100 hover:text-blue-700   dark:text-white dark:hover:text-black"
        >Siguiente</a
      >
    </li>
  </ul>
</nav>
