---
import NEXProductShow from '../center/product/NexProductShow.astro'
import NEXProductEdit from './product/NEXProductEdit.astro'
import NEXQr from './qr/NEXQr.astro'
import NEXUserRegister from './user/NEXUserRegister.astro'
import NexMainProductCartList from './NexMainProductCartList'
---

<div class="container mx-auto">
  <NexMainProductCartList client:only />
  <NEXProductShow />
  <div>
    <NEXUserRegister />
    <NEXProductEdit />
    <NEXQr />
  </div>
</div>
