---
import NEXProductList from '../center/product/NEXProductList.astro'
import NEXProductShow from '../center/product/NEXProductShow.astro'
import NEXProductEdit from './product/NEXProductEdit.tsx'
import NEXQr from './qr/NEXQr.tsx'
import NEXQrAccept from './qr/NEXQrAccept.tsx'
import NEXQrFault from './qr/NEXQrFault.tsx'
import NEXCart from './cart/NEXCart.tsx'
import NEXCategorylist from './cart/NEXCategoryList.tsx'
import NEXUserCreate from './user/NEXUserCreate.tsx'
import NEXUserRegister from './user/NEXUserRegister.astro'
import NEXUserData from './user/NEXUserData.astro'
import NEXUserSeller from './user/NEXUserSeller.astro'
---


<astro-doc>
  <div class="product-container">
    <div class="container">
      <div class="product-box">
        <div class="blog-container has-scrollbar">
          <NEXProductList />
          <NEXProductShow />
        </div>
      </div>
      <div class="sidebar has-scrollbar-cart" data-mobile-menu>
        <NEXUserSeller />
        <NEXCart />
        <NEXCategorylist />
        <NEXUserData />
      </div>
      <!-- <NEXQrFault />
      <NEXQrAccept /> -->
      <NEXUserRegister />
      <NEXProductEdit />
      <NEXQr />
    </div>
  </div>
</astro-doc>
<style>
  .sidebar.has-scrollbar-cart[data-mobile-menu] {
    position: absolute;
    top: -20%;
    left: 76%;
    width: 25%;
    height: 100%;
    /* Altura automática */
    max-height: calc(100vh - 50px);
    /* Altura máxima */
  }

  .has-scrollbar-cart {
    padding-bottom: 2px;
    overflow-y: auto;
  }

  .has-scrollbar-cart::-webkit-scrollbar {
    width: 8px; /* for vertical scroll */
    height: 8px; /* for horizontal scroll */
    background-color: var(--salmon-pink);
  }

  .has-scrollbar-cart::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--white);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  .has-scrollbar-cart:hover::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%);
  }

  .has-scrollbar-cart::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 80%);
  }

  /* Media query para dispositivos móviles */
  @media screen and (max-width: 768px) {
    .sidebar.has-scrollbar-cart[data-mobile-menu] {
      position: relative;
      width: 100%;
      left: auto;
      top: auto;
      height: auto;
      max-height: none;
    }
  }
</style>
