---
import NEXBranchOrdersidebarProduct from './orderproduct/NEXBranchOrdersidebarProduct.tsx'
import NEXBranchOrdersidebarProductShow from './orderproduct/NEXBranchOrdersidebarProductShow.tsx'
import NEXBranchOrdersidebarProductEdit from './orderproduct/NEXBranchOrdersidebarProductEdit.tsx'
import NEXBranchOrdersidebarQr from './orderqr/NEXBranchOrdersidebarQr.tsx'
import NEXBranchOrdersidebarQrAccept from './orderqr/NEXBranchOrdersidebarQrAccept.tsx'
import NEXBranchOrdersidebarQrFault from './orderqr/NEXBranchOrdersidebarQrFault.tsx'
import NEXBranchOrdersidebarCart from './ordercart/NEXBranchOrdersidebarCart.tsx'
import NEXBranchOrdersidebarCategorylist from './ordercart/NEXBranchOrdersidebarCategorylist.tsx'
import NEXBranchOrdersidebarUserCreate from './orderuser/NEXBranchOrdersidebarUserCreate.tsx'
import NEXBranchOrdersidebarUserData from './orderuser/NEXBranchOrdersidebarUserData.tsx'
import NEXBranchOrdersidebarUserSeller from './orderuser/NEXBranchOrdersidebarUserSeller.tsx'
---

<astro-doc>
  <div class="product-container">
    <div class="container">
      <div class="product-box">
        <div class="blog-error">
          <div class="container-0">
            <div class="blog-container-0 has-scrollbar">
              <NEXBranchOrdersidebarProduct />
              <NEXBranchOrdersidebarProduct />
              <NEXBranchOrdersidebarProduct />
              <NEXBranchOrdersidebarProduct />
              <NEXBranchOrdersidebarProductShow />
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar has-scrollbar" data-mobile-menu>
        <div class="sidebar-category">
          <NEXBranchOrdersidebarUserSeller />
          <NEXBranchOrdersidebarCart />
          <NEXBranchOrdersidebarCategorylist />
          <NEXBranchOrdersidebarUserData />
        </div>
      </div>
      <NEXBranchOrdersidebarQrFault />
      <NEXBranchOrdersidebarQrAccept />
      <NEXBranchOrdersidebarQr />
      <NEXBranchOrdersidebarUserCreate />
      <NEXBranchOrdersidebarProductEdit />
    </div>
  </div>
</astro-doc>