---
import NEXBranchOrdersidebarproduct from './orderproduct/NEXBranchOrdersidebarproduct.tsx'
import NEXBranchOrdersidebarproductshow from './orderproduct/NEXBranchOrdersidebarproductshow.tsx'
import NEXBranchOrdersidebarproductedit from './orderproduct/NEXBranchOrdersidebarproductedit.tsx'
import NEXBranchOrdersidebarqr from './orderqr/NEXBranchOrdersidebarqr.tsx'
import NEXBranchOrdersidebarqraccept from './orderqr/NEXBranchOrdersidebarqraccept.tsx'
import NEXBranchOrdersidebarqrfaul from './orderqr/NEXBranchOrdersidebarqrfault.tsx'
import NEXBranchOrdersidebarcart from './ordercart/NEXBranchOrdersidebarcart.tsx'
import NEXBranchOrdersidebarcategorylist from './ordercart/NEXBranchOrdersidebarcategorylist.tsx'
import NEXBranchOrdersidebarusercreate from './orderuser/NEXBranchOrdersidebarusercreate.tsx'
import NEXBranchOrdersidebaruserdata from './orderuser/NEXBranchOrdersidebaruserdata.tsx'
import NEXBranchOrdersidebaruserseller from './orderuser/NEXBranchOrdersidebaruserseller.tsx'
---

<astro-doc>
  <div class="product-container">
    <div class="container">
      <div class="product-box">
        <div class="blog-error">
          <div class="container-0">
            <div class="blog-container-0 has-scrollbar">
              <NEXBranchOrdersidebarproduct />
              <NEXBranchOrdersidebarproduct />
              <NEXBranchOrdersidebarproduct />
              <NEXBranchOrdersidebarproduct />
              <NEXBranchOrdersidebarproductshow />
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar has-scrollbar" data-mobile-menu>
        <div class="sidebar-category">
          <NEXBranchOrdersidebaruserseller />
          <NEXBranchOrdersidebarcart />
          <NEXBranchOrdersidebarcategorylist />
          <NEXBranchOrdersidebaruserdata />
        </div>
      </div>
      <NEXBranchOrdersidebarqrfaul />
      <NEXBranchOrdersidebarqraccept />
      <NEXBranchOrdersidebarqr />
      <NEXBranchOrdersidebarusercreate />
      <NEXBranchOrdersidebarproductedit />
    </div>
  </div>
</astro-doc>
