---
import NEXBranchBannerslider from './NEXBranchBanner.tsx'
---

<astro-doc>
  <div class="banner">
    <div class="container">
      <div class="slider-container has-scrollbar">
        <NEXBranchBannerslider />
        <NEXBranchBannerslider />
      </div>
    </div>
  </div>
</astro-doc>
