---
import NEXBranchOrdersidebarProduct from './orderproduct/NEXBranchOrderSideBarProduct.tsx'
import NEXBranchOrdersidebarProductShow from './orderproduct/NEXBranchOrderSideBarProductShow.tsx'
import NEXBranchOrdersidebarProductEdit from './orderproduct/NEXBranchOrderSideBarProductEdit.tsx'
import NEXBranchOrdersidebarQr from './orderqr/NEXBranchOrderSideBarQR.tsx'
import NEXBranchOrdersidebarQrAccept from './orderqr/NEXBranchOrderSideBarQrAccept.tsx'
import NEXBranchOrdersidebarQrFault from './orderqr/NEXBranchOrderSideBarQrFault.tsx'
import NEXBranchOrdersidebarCart from './ordercart/NEXBranchOrderSideBarCart.tsx'
import NEXBranchOrdersidebarCategorylist from './ordercart/NEXBranchOrderSideBarCategoryList.tsx'
import NEXBranchOrdersidebarUserCreate from './orderuser/NEXBranchOrderSideBarUserCreate.tsx'
import NEXBranchOrdersidebarUserData from './orderuser/NEXBranchOrderSideBarUserData.tsx'
import NEXBranchOrdersidebarUserSeller from './orderuser/NEXBranchOrderSideBarUserSeller.tsx'
---

<astro-doc>
  <div class="product-container">
    <div class="container">
      <div class="product-box">
        <div class="blog-error">
          <div class="container-0">
            <div class="blog-container-0 has-scrollbar">
              <NEXBranchOrdersidebarProduct />
              <NEXBranchOrdersidebarProduct />
              <NEXBranchOrdersidebarProduct />
              <NEXBranchOrdersidebarProduct />
              <NEXBranchOrdersidebarProductShow />
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar has-scrollbar" data-mobile-menu>
        <div class="sidebar-category">
          <NEXBranchOrdersidebarUserSeller />
          <NEXBranchOrdersidebarCart />
          <NEXBranchOrdersidebarCategorylist />
          <NEXBranchOrdersidebarUserData />
        </div>
      </div>
      <NEXBranchOrdersidebarQrFault />
      <NEXBranchOrdersidebarQrAccept />
      <NEXBranchOrdersidebarQr />
      <NEXBranchOrdersidebarUserCreate />
      <NEXBranchOrdersidebarProductEdit />
    </div>
  </div>
</astro-doc>