---
import NexFormUser from './NexFormBranch.astro'
---

<div class="px-1 py-1">
  <div class="mx-auto max-w-5xl rounded-lg px-1 sm:px-6 sm:py-10 lg:px-8" style="background-color: #181B3A;">
    <div class="mx-auto max-w-3xl">
      <NexFormUser />
    </div>
  </div>
</div>
