---
import BaseLoginLayout from '../../layouts/BaseLoginLayout.astro'
import LoginForm from '../../components/login/NEXBranchLoginForm.astro'
import LoginFormname from '../../components/login/NEXBranchLoginForm.tsx'
---

<astrodoc>
	<BaseLoginLayout>
		<div class="container">
			<div class="forms-container">
				<div class="signin-signup">
					<div class="loader"></div>
					<LoginForm />
				</div>
				<div class="panels-container">
					<div class="panel left-panel">
						<LoginFormname />
					</div>
				</div>
			</div>
		</div>
	</BaseLoginLayout>
</astrodoc>
