---
import BaseLoginLayout from '@layouts/BaseLoginLayout.astro'
import LoginForm from '@components/login/NexForm.astro'
import LoginFormDate from '@components/login/NexFormDate.astro'
---

<BaseLoginLayout>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <div class="loader"></div>
        <LoginForm />
      </div>
      <div class="panels-container">
        <div class="panel left-panel">
          <LoginFormDate />
        </div>
      </div>
    </div>
  </div>
</BaseLoginLayout>
