---
import NexQrGenerate from './NexQrGenerate.astro'
import NexQRData from './NexQRData'
---

<div id="modal-qr" class="modal-qr">
  <div class="modal-content-qr">
    <button id="aperturarBtn" class="modal-close-btnQr" data-modal-close>
      <i class="bx bx-x"></i>
    </button>
    <div class="newsletter">
      <div class="newsletter-img">
        <NexQrGenerate />
      </div>
      <NexQRData />
    </div>
  </div>
</div>
