---
import NEXUserPagination from './container/NEXPagination.astro'
import NEXUserTable from './container/NEXTable.astro'
---

<div class="product-container">
  <div class="container">
        <NEXUserTable />
  </div>
</div>
