---
import { Image } from 'astro:assets'
import cliente from '../../../public/images/cliente/Logo-KFC.png' // La imagen de producto
import cliente2 from '../../../public/images/cliente/KFC.png' // La imagen de producto
import NEXBranchSelecclientform from './NEXBranchSelectclientform.astro'
---

<astro-doc>
	<div class="container">
		<div class="signin-signup">
			<NEXBranchSelecclientform />
		</div>
		<div class="panels-container">
			<div class="panel left-panel">
				<div class="content">
					<h3>
						<button class="back-btn"><i class="bx bx-arrow-back"></i> Volver</button>
						Locoto
					</h3>
					<p>"Puntos de ventas"</p>
					<Image src={cliente2} class="image" alt="Logo-cliente" width="600" height="500" />
				</div>
			</div>
		</div>
	</div>
</astro-doc>
