---
import NEXBranchSelecclientform from './NEXBranchSelectclientform.astro'
import NEXBranchSelecclientlogo from './NEXBranchSelectclientlogo.astro'
---

<astro-doc>
  <div class="container">
    <div class="signin-signup">
      <NEXBranchSelecclientform />
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <NEXBranchSelecclientlogo />
      </div>
    </div>
  </div>
</astro-doc>
