---
import NEXBranchSelectclientForm from './NEXBranchSelectclientForm.astro'
import NEXBranchSelectclientLogo from './NEXBranchSelectclientLogo.astro'
---

<astro-doc>
  <div class="container">
    <div class="signin-signup">
      <NEXBranchSelectclientForm />
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <NEXBranchSelectclientLogo />
      </div>
    </div>
  </div>
</astro-doc>
