---
import { Image } from 'astro:assets'
import imgBannerCta from '@images/welcome/cta-banner.png'
import imgBannerShape from '@images/welcome/sale-shape.png'
---

<section
  class="section section-divider white cta"
  style="background-image: url('./public/images/welcome/hero-bg.jpg')"
>
  <div class="container">
    <div class="cta-content">
      <h2 class="h2 section-title">
        The Locoto Have Excellent Of
        <span class="span">Quality Burgers!</span>
      </h2>
      <p class="section-text">
        The restaurants in Hangzhou also catered to many northern Chinese who had fled south from
        Kaifeng during the Jurchen invasion of the 1120s, while it is also known that many
        restaurants were run by families.
      </p>
      <button class="btn btn-hover">Order Now</button>
    </div>
    <figure class="cta-banner">
      <Image
        src={imgBannerCta}
        width="700"
        height="637"
        loading="lazy"
        alt="Burger"
        class="w-100 cta-img"
      />
      <Image
        src={imgBannerShape}
        width="216"
        height="226"
        loading="lazy"
        alt="get up to 50% off now"
        class="abs-img scale-up-anim"
      />
    </figure>
  </div>
</section>
