---
import NexHeadernavLogo from './NexHeadernavLogo.astro'
import NexHeadernavUser from './NexHeadernavUser.tsx'
import NexHeadernavMobile from './NexHeadernavMobile.tsx'
---

<header>
  <div class="header-main">
    <div class="container">
      <NexHeadernavLogo />
      <NexHeadernavUser />
    </div>
  </div>
  <NexHeadernavMobile />
</header>
