---
import { Image } from 'astro:assets'
import imgLogo from '@images/cliente/Logo-KFC.png'
const logo = { name: 'KFC'}
---

<a href="#" class="header-logo">
  <Image src={imgLogo} alt={logo.name} width="70" height="50" />
</a>
