---
import NEXHeaderLogo from './NEXLogo.astro'
import NEXHeaderUser from './NEXHeaderUser.tsx'
import NEXHeaderMobile from './NEXHeaderMobile.tsx'
---

<header>
  <div class="header-main">
    <div class="container">
      <NEXHeaderLogo />
      <NEXHeaderUser />
    </div>
  </div>
  <NEXHeaderMobile />
</header>
