---
import NEXHeaderLogo from './NEXLogo.astro'
import NEXHeaderSearch from './NEXSearch.tsx'
import NexHeaderCart from "./NexHeaderCart";
import NEXHeaderUser from './NEXUser.tsx'
import NEXHeaderCartMain from './NexCartMain.tsx'
import NEXHeaderMobile from './NEXMobile.tsx'
---

<header>
  <div class="header-main">
    <div class="container">
      <NEXHeaderLogo />
      <NEXHeaderSearch />
        <NexHeaderCart client:load/>
        <NEXHeaderCartMain client:only />
      <NEXHeaderUser />
    </div>
  </div>
  <NEXHeaderMobile />
</header>
