---
import NEXHeaderLogo from './NEXLogo.astro'
import NEXHeaderUser from './NEXUser.tsx'
import NEXHeaderMobile from './NEXMobile.tsx'
---

<header>
  <div class="header-main">
    <div class="container">
      <NEXHeaderLogo />
      <NEXHeaderUser />
    </div>
  </div>
  <NEXHeaderMobile />
</header>
