---
import NEXHeaderLogo from './NEXLogo.tsx'
import NEXHeaderUser from './NEXUser.tsx'
import NEXHeaderMobile from './NEXMobile.tsx'
---

<astro-doc>
  <header>
    <div class="header-main">
      <div class="container">
        <NEXHeaderLogo />
        <NEXHeaderUser />
      </div>
    </div>
    <NEXHeaderMobile />
  </header>
</astro-doc>
