.card {
  background-color: #181b3a;
  border-radius: 8px;
  border: 2px solid rgba(169, 150, 253, 0.5);
  box-shadow:
    0px 4px 5px 0px var(--shadow-color),
    0px 1px 8px 0px var(--shadow-color),
    0px 2px 4px -1px var(--shadow-color);
}
/* ANALYTICS */
.analytics h1 {
  margin-bottom: 24px;
}
/* Total Events */
.total-events {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.event-number {
  position: relative;
  display: grid;
  grid-auto-flow: dense;
  grid-template-rows: 1fr 0.5fr;
  width: 50%;
  height: 250px;
  padding: 10px;
}
.event-number p {
  font-size: clamp(1.5rem, 4vw, 2rem);
  color: var(--accent-color);
}
.event-number i {
  position: absolute;
  right: 8px;
  bottom: 6px;
  font-size: 2.5rem;
}
/* Chart */
.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--card-bg-color);
  border-radius: 8px;
  border: 2px solid rgba(169, 150, 253, 0.5);
  box-shadow: 0 7px 25px var(--shadow-color);
  padding: 20px 15px;
  margin: 20px 0;
}

.chart h2 {
  text-align: center;
  margin-bottom: 10px;
}

.chart ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  margin: 10px 0;
}

.chart ul li {
  font-size: 0.8rem;
  font-weight: 500;
  background-color: var(--card-bg-color);
  border: 2px solid var(--border-color);
  border-radius: 6px;
  padding: 6px;
  box-shadow:
    0px 2px 3px 0px var(--shadow-color),
    0px 1px 4px 0px var(--shadow-color),
    0px 2px 1px -1px var(--shadow-color);
}

.chart .percentage {
  font-weight: 700;
  color: var(--accent-color);
}
