<!-- Main modal -->
<div
  id="create-user-modal"
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
  style="background-color: #181B3A;opacity:0.9"
>
  <div class="relative max-h-full w-full max-w-2xl p-4">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between rounded-t border-b p-4 md:p-5 dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Crear Usuario</h3>
        <button
          type="button"
          class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="create-user-modal"
        >
          <svg
            class="h-3 w-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form class="relative rounded-lg bg-white shadow dark:bg-gray-700">
        <!-- Modal body -->
        <div class="space-y-6 p-6">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label
                for="first-name"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Nombre</label
              >
              <input
                type="text"
                name="first-name"
                id="first-name"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-600 focus:ring-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder="Bonnie"
                required=""
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label
                for="last-name"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Apellido Paterno</label
              >
              <input
                type="text"
                name="last-name"
                id="last-name"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-600 focus:ring-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder="Green"
                required=""
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label
                for="last-name"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Apellido Materno</label
              >
              <input
                type="text"
                name="last-name"
                id="last-name"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-600 focus:ring-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder="Green"
                required=""
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label
                for="email"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Correo</label
              >
              <input
                type="email"
                name="email"
                id="email"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-600 focus:ring-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder="example@company.com"
                required=""
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label
                for="phone-number"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Teléfono</label
              >
              <input
                type="number"
                name="phone-number"
                id="phone-number"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-600 focus:ring-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder="e.g. +(12)3456 789"
                required=""
              />
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label
                for="phone-number"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Fecha de Nacimiento</label
              >
              <input
                type="number"
                name="phone-number"
                id="phone-number"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-600 focus:ring-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder="1990-01-01"
                required=""
              />
            </div>

            <div class="col-span-6 sm:col-span-3">
              <label
                for="department"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Dirección</label
              >
              <input
                type="text"
                name="department"
                id="department"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-600 focus:ring-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder="Development"
                required=""
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label
                for="company"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Sexo</label
              >
              <input
                type="text"
                name="company"
                id="company"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-600 focus:ring-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder="Masculino"
                required=""
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label
                for="current-password"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Current Password</label
              >
              <input
                type="password"
                name="current-password"
                id="current-password"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-600 focus:ring-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder="••••••••"
                required=""
              />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label
                for="new-password"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >New Password</label
              >
              <input
                type="password"
                name="new-password"
                id="new-password"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-600 focus:ring-blue-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder="••••••••"
                required=""
              />
            </div>
          </div>
        </div>
        <!-- Modal footer -->
      </form>
      <!-- Modal footer -->
      <div
        class="flex items-center rounded-b border-t border-gray-200 p-4 md:p-5 dark:border-gray-600"
      >
        <button
          data-modal-hide="create-user-modal"
          type="button"
          class="rounded-lg bg-orange-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-orange-600 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >Guardar</button
        >
        <button
          data-modal-hide="create-user-modal"
          type="button"
          class="ms-3 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
          >Cancelar</button
        >
      </div>
    </div>
  </div>
</div>
