<nav class="flex-column flex flex-wrap items-center justify-between pt-4 md:flex-row mx-auto" aria-label="Table navigation">
  <ul class="inline-flex h-8 -space-x-px text-sm rtl:space-x-reverse">
    <li>
      <a href="#" class="ms-0 flex h-8 items-center justify-center rounded-s-lg border border-white bg-orange-600 px-3 leading-tight text-white hover:bg-white hover:text-black dark:border-white dark:bg-white dark:text-black dark:hover:text-gray-700 text-center">Anterior</a>
    </li>
    <li>
      <a href="#" class="flex h-8 items-center justify-center border border-gray-300 bg-blue-950 px-3 leading-tight text-white hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white text-center">1</a>
    </li>
    <li>
      <a href="#" class="flex h-8 items-center justify-center border border-gray-300 bg-blue-950 px-3 leading-tight text-white hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white text-center">2</a>
    </li>
    <li>
      <a href="#" aria-current="page" class="flex h-8 items-center justify-center border border-gray-300 bg-orange-600 px-3 text-white hover:bg-white hover:text-black dark:border-gray-700 dark:bg-gray-700 dark:text-white text-center">3</a>
    </li>
    <li>
      <a href="#" class="flex h-8 items-center justify-center border border-gray-300 bg-blue-950 px-3 leading-tight text-white hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white text-center">4</a>
    </li>
    <li>
      <a href="#" class="flex h-8 items-center justify-center border border-gray-300 bg-blue-950 px-3 leading-tight text-white hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white text-center">5</a>
    </li>
    <li>
      <a href="#" class="flex h-8 items-center justify-center rounded-e-lg border border-white bg-orange-600 px-3 leading-tight text-white hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-white dark:text-white dark:hover:bg-white dark:hover:text-gray-700 text-center">Siguiente</a>
    </li>
  </ul>
</nav>
