<header class="header" data-header>
  <div class="container">
    <h1>
      <a href="#" class="logo">Locoto<span class="span">.</span></a>
    </h1>
    <nav class="navbar" data-navbar>
      <ul class="navbar-list">
        <li class="nav-item">
          <a href="#home" class="navbar-link" data-nav-link>Inicio</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="navbar-link" data-nav-link>Acerca</a>
        </li>
        <li class="nav-item">
          <a href="#food-menu" class="navbar-link" data-nav-link>Catalogo</a>
        </li>
        <li class="nav-item">
          <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
        </li>
        <li class="nav-item">
          <a href="#" class="navbar-link" data-nav-link>Contacto</a>
        </li>
      </ul>
    </nav>
    <div class="header-btn-group">
      <a href="/login" class="btn btn-hover">Login</a>
      <button class="nav-toggle-btn" aria-label="Toggle Menu" data-menu-toggle-btn>
        <span class="line top"></span>
        <span class="line middle"></span>
        <span class="line bottom"></span>
      </button>
    </div>
  </div>
</header>