---
import NEXOverviewCardList from './NEXList.astro'
import NEXOverviewCardExpenses from './NEXExpenses.astro'
import NEXOverviewCardTransaction from './NEXTransaction.astro'
import NEXOverviewCardInformation from './NEXInformation.astro'
---

<astro-doc>
  <main class="lg:grid-cols-4">
    <!-- Content -->
    <!-- <div class="p-6"> -->
    <NEXOverviewCardList />
    <div class="mb-3 grid grid-cols-1 gap-1 p-6 lg:grid-cols-2">
      <NEXOverviewCardExpenses />
    </div>
    <div class="mb-3 grid grid-cols-1 gap-6 p-6 lg:grid-cols-2">
      <NEXOverviewCardTransaction />
      <NEXOverviewCardInformation />
    </div>
    <!-- </div> -->
    <!-- End Content -->
  </main>
</astro-doc>
