<div class="rounded-md p-6 shadow-md shadow-black/5" style="background-color: #181B3A;">
  <div class="mb-4 flex items-start justify-between">
    <h3 class="text-base font-semibold text-white">Información de la tarjeta</h3>
    <div class="dropdown">
      <button type="button" class="dropdown-toggle text-gray-400 hover:text-gray-600">
        <button type="button" class="dropdown-toggle text-white hover:text-black">
          <i class="bx bx-dots-vertical-rounded"></i>
        </button></button
      >
    </div>
  </div>
<div class="overflow-hidden">
  <table class="w-full table-fixed">
    <tbody>
      <tr>
        <td class="px-2 py-1">
          <span class="text-sm font-medium text-[#F5F5F5]">Status</span>
        </td>
        <td class="px-2 py-1">
          <span class="text-sm font-medium text-[#F5F5F5]">Active</span>
        </td>
      </tr>
      <tr>
        <td class="px-2 py-1">
          <span class="text-sm font-medium text-[#F5F5F5]">Card</span>
        </td>
        <td class="px-2 py-1">
          <span class="text-sm font-medium text-[#F5F5F5]">Credit</span>
        </td>
      </tr>
      <tr>
        <td class="px-2 py-1">
          <span class="text-sm font-medium text-[#F5F5F5]">Card Type</span>
        </td>
        <td class="px-2 py-1">
          <span class="text-sm font-medium text-[#F5F5F5]">Visa</span>
        </td>
      </tr>
      <tr>
        <td class="px-2 py-1">
          <span class="text-sm font-medium text-[#F5F5F5]">Card Number</span>
        </td>
        <td class="px-2 py-1">
          <span class="text-sm font-medium text-[#F5F5F5]">223456****</span>
        </td>
      </tr>
      <tr>
        <td class="px-2 py-1">
          <span class="text-sm font-medium text-[#F5F5F5]">Expire Date</span>
        </td>
        <td class="px-2 py-1">
          <span class="text-sm font-medium text-[#F5F5F5]">12-12-2026</span>
        </td>
      </tr>
      <tr>
        <td class="px-2 py-1">
          <span class="text-sm font-medium text-[#F5F5F5]">Currency</span>
        </td>
        <td class="px-2 py-1">
          <span class="text-sm font-medium text-[#F5F5F5]">BDT</span>
        </td>
      </tr>
      <tr>
        <td class="px-2 py-1">
          <span class="text-sm font-medium text-[#F5F5F5]">Point</span>
        </td>
        <td class="px-2 py-1 flex items-center">
          <span class="block h-4 w-4 rounded-full bg-green-500 mr-2"></span>
          <span class="text-sm font-medium text-[#F5F5F5]">USD</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>
