---
import NexList from './card/NexList.astro'
import NexExpenses from './card/expenses/NexExpenses.astro'
import NexEarning from './card/earning/NexEarning.astro'
import NexTransaction from './card/NexTransaction.astro'
import NexInformation from './card/NexInformation.astro'
---

<main class="lg:grid-cols-4">
  <NexList />
  <div class="mb-3 grid grid-cols-1 gap-1 p-6 lg:grid-cols-2">
    <NexExpenses />
    <NexEarning />
  </div>
  <div class="mb-3 grid grid-cols-1 gap-6 p-6 lg:grid-cols-2">
    <NexTransaction />
    <NexInformation />
  </div>
</main>
