---
import NEXBranchHeaderLogo from './NEXBranchHeaderLogo.tsx'
import NEXBranchHeaderUser from './NEXBranchHeaderUser.tsx'
---

<astro-doc>
  <header>
    <div class="header-main">
      <div class="container">
        <NEXBranchHeaderLogo />
        <NEXBranchHeaderUser />
      </div>
    </div>
  </header>
</astro-doc>
