---
import NEXBranchHeaderLogo from './NEXBranchHeaderLogo.tsx'
import NEXBranchHeaderSearch from './NEXBranchHeaderSearch.tsx'
import NEXBranchHeaderCalendar from './NEXBranchHeaderCalendar.tsx'
import NEXBranchHeaderUser from './NEXBranchHeaderUser.tsx'
import NEXBranchHeaderTheme from './NEXBranchHeaderTheme.tsx'
---

<astro-doc>
  <header>
    <div class="header-main">
      <div class="container">
        <NEXBranchHeaderLogo />
        <NEXBranchHeaderSearch />
        <NEXBranchHeaderCalendar />
        <NEXBranchHeaderTheme />
        <NEXBranchHeaderUser />
      </div>
    </div>
  </header>
</astro-doc>
