<astro-doc>
  <div class="relative p-4 border border-gray-300 bg-white rounded-lg">
    <h2 class="text-center font-bold">Nueva Orden</h2>
    <div class="sidebar-top flex items-center text-xs">
      <p class="flex items-center">
        <b><i class="bx bxs-user-detail"></i> Cajero :</b>
      </p>
      <p class="ml-2">Pedro Perez</p>
      <p class="ml-2">
        <i class="bx bx-chevron-right"></i>
      </p>
    </div>
  </div>
</astro-doc>
