<div class="calendar relative">
  <input type="date" class="absolute left-0 top-0 h-full 
  w-full cursor-pointer opacity-0" />
  <i class="bx bx-calendar cursor-pointer text-xl"></i>
  <span class="text-sm text-gray-600">
    <p>12/05/2024</p>
  </span>
  <i class="bx bx-chevron-down ml-2 cursor-pointer text-xl"></i>
</div>
