<div class="calendar relative">
  <input
    style="background-color: #181B3A; border: none;"
    type="date"
    name="userdate"
    id="userdate"
    required=""
    placeholder="2000-01-01"
    autocomplete="userdate"
    class="absolute block rounded-md p-1 py-1 pl-4 text-white
    shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-600 sm:text-sm sm:leading-6"
  />
  
  <i class="bx bx-chevron-down cursor-pointer text-white text-xl absolute left-0 top-1/2 transform -translate-y-1/2"></i>
</div>
