---
import NEXHeadernavLogo from './NexHeadernavLogo.astro'
import NEXHeadernavUser from './NexHeadernavUser.tsx'
---

<header>
  <div class="header-main">
    <div class="container">
      <NEXHeadernavLogo />
      <NEXHeadernavUser />
    </div>
  </div>
</header>
