---
import { Image } from 'astro:assets'
import imgLogo from '@images/cliente/Logo-KFC.png'

const logo = {
  name: 'KFC',
}
---

<a href="#" class="transition-transform transform hover:scale-110 hidden sm:inline-block">
   <Image src={imgLogo} alt={logo.name} class="rounded-full" width={40} height={20} />
</a>