---
import NEXHeadernavLogo from './NEXLogo.astro'
import NEXHeadernavUser from './NEXUser.tsx'
---

<astro-doc>
  <header>
    <div class="header-main">
      <div class="container">
        <NEXHeadernavLogo />
        <NEXHeadernavUser />
      </div>
    </div>
  </header>
</astro-doc>
