---
import NEXHeadernavLogo from './NEXLogo.tsx'
import NEXHeadernavSearch from './NEXSearch.tsx'
import NEXHeadernavCalendar from './NEXCalendar.tsx'
import NEXHeadernavUser from './NEXUser.tsx'
import NEXHeadernavTheme from './NEXTheme.tsx'
---

<astro-doc>
  <header>
    <div class="header-main">
      <div class="container">
        <NEXHeadernavLogo />
        <NEXHeadernavSearch />
        <NEXHeadernavCalendar />
        <NEXHeadernavTheme />
        <NEXHeadernavUser />
      </div>
    </div>
  </header>
</astro-doc>
