<form class="mx-auto max-w-md">
  <div class="relative">
    <input
      style="width: 400px;"
      type="search"
      id="default-search"
      class="block w-full rounded-lg border bg-transparent p-3 pl-10
          text-sm text-orange-600 focus:border-blue-950
            focus:ring-blue-950 dark:text-orange-600 dark:focus:border-blue-950"
      placeholder="Buscar ...."
      required
    />
    <button
      type="submit"
      class="absolute right-0 top-1/2 -translate-y-1/2 transform rounded-r-lg bg-orange-600
            px-4 py-2 text-sm font-medium
            text-white hover:bg-blue-800 focus:outline-none focus:ring-4
              dark:bg-blue-950 dark:hover:bg-blue-950 dark:focus:ring-blue-950"
    >
      <i class="bx bx-search-alt-2 bx-sm"></i>
    </button>
  </div>
</form>
