---
import { Image } from 'astro:assets'
import imgAvatar from '@images/caja/usuario.jpg'

const Avatar = {
  name: 'Avatar'
}
---

<button
  id="dropdownUserAvatarButton"
  data-dropdown-toggle="dropdownAvatar"
  class="flex rounded-full bg-gray-800 text-sm focus:ring-4 focus:ring-gray-300 md:me-0 dark:focus:ring-gray-600"
  type="button"
>
  <span class="sr-only">Open user menu</span>
  <a href="#" class="inline-block transform transition-transform hover:scale-110">
    <Image src={imgAvatar} alt={Avatar.name} class="h-8 w-8 rounded-full" width={70} height={50} />
  </a>
</button>

<div
  id="dropdownAvatar"
  class="z-10 hidden w-44 divide-y divide-gray-100 rounded-lg bg-white shadow dark:divide-gray-600 dark:bg-gray-700"
>
  <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
    <div>Pedro Perez</div>
    <div class="truncate font-medium">name@locoto.com</div>
  </div>
  <ul
    class="py-2 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownUserAvatarButton"
  >
    <li>
      <a
        href="#"
        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
      >
        <i class="bx bxs-cog"></i> Configuración
      </a>
    </li>
  </ul>
  <div class="py-2">
    <a
      href="/login"
      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white"
    >
      <i class="bx bx-log-out"></i> Cerrar sesión</a
    >
  </div>
</div>
