---
import NEXBranchHeaderlogo from './NEXBranchHeaderLogo.tsx'
import NEXBranchHeaderSearch from './NEXBranchHeaderSearch.tsx'
import NEXBranchHeaderUser from './NEXBranchHeaderUser.tsx'
import NEXBranchHeadermobile from './NEXBranchHeaderMobile.tsx'
---

<astro-doc>
  <header>
    <div class="header-main">
      <div class="container">
        <NEXBranchHeaderlogo />
        <NEXBranchHeaderSearch />
        <NEXBranchHeaderUser />
      </div>
    </div>
    <NEXBranchHeadermobile />
  </header>
</astro-doc>