---
import NEXBranchHeaderLogo from './NEXBranchHeaderLogo.tsx'
import NEXBranchHeaderUser from './NEXBranchHeaderUser.tsx'
import NEXBranchHeaderMobile from './NEXBranchHeaderMobile.tsx'
---

<astro-doc>
  <header>
    <div class="header-main">
      <div class="container">
        <NEXBranchHeaderLogo />
        <NEXBranchHeaderUser />
      </div>
    </div>
    <NEXBranchHeaderMobile />
  </header>
</astro-doc>