---
import NEXBranchHeaderlogo from './NEXBranchHeaderlogo.tsx'
import NEXBranchHeadersearch from './NEXBranchHeadersearch.tsx'
import NEXBranchHeaderuser from './NEXBranchHeaderuser.tsx'
import NEXBranchHeadermobile from './NEXBranchHeadermobile.tsx'
---

<astro-doc>
  <header>
    <div class="header-main">
      <div class="container">
        <NEXBranchHeaderlogo />
        <NEXBranchHeadersearch />
        <NEXBranchHeaderuser />
      </div>
    </div>
    <NEXBranchHeadermobile />
  </header>
</astro-doc>
