<div class="overlay" data-overlay></div>

<!--
  - MODAL
-->

<div class="modal" id="modal-oneybox" data-modal>
    <div class="modal-close-overlay" data-modal-overlay></div>
    <div class="modal-content">
        <button class="modal-close-btn" id="aperturarBtn" data-modal-close onclick="closeModal()" >
            <i class="bx bx-x"></i>
        </button>
        <div class="newsletter-img">
            <h3 class="newsletter-title">Caja Iniciar.</h3>
            <img src="./images/caja/caja.png" alt="iniciar caja" width="400" height="400" />
        </div>
        <div class="newsletter">
            <form id="cajaForm">
                <h4 class="">Monto de efectivo en caja.</h4>
                <div class="newsletter-header">
                    <p class="newsletter-desc">
                        <b><i class='bx bx-money' ></i>
                            Monto Bs.: 
                    </p>

                    <input class="monto" type="number" id="monto" name="monto" min="0.01" step="0.01" value="" required>
                    </b>
                    <p class="newsletter-desc">
                        <b><i class='bx bx-note'></i>
                           Nota: 
                    </p>
                    <input class="monto" type="type" id="nota" name="nota"  value="" required>
                    
                </div>
                <button id="aperturarBtn" type="submit" style="background-color: #FF5C28;" class="btn-newsletter">
                    Aperturar Caja
                    <i class="bx bxs-chevron-right"></i>
                </button>
            </form>



        </div>
    </div>
</div>

<script>

     document.getElementById('aperturarBtn').addEventListener('click', function(event) {
         event.preventDefault();
         alert('¡La caja ha sido iniciada!');
         var modal = document.getElementById('modal-oneybox');
         modal.style.display = 'none';
    });

    document.querySelector('.modal-content').addEventListener('click', function(event) {
        event.stopPropagation(); 
    });
</script>

