---
const { text } = Astro.props
---

<button class="btn rounded bg-blue-500 px-6 py-2 text-white"> {text}</button>
<style>
	.btn {
		background-color: #ff5c28;
	}

	.btn:hover {
		background-color: #da3805;
	}
</style>
