---
import { Image } from "astro:assets";
import banner from "../../public/images/banner/banner.jpg";  // La imagen de producto
---
<astro-doc>
<div class="banner">
    <div class="container">
        <div class="slider-container has-scrollbar">
            <div class="slider-item">
                <Image src={banner} alt="banner" class="banner-img" />
                <div class="banner-content">
                    <div class="banner-content2">
                        <h2 class="banner-title">30% Off</h2>
                        <p class="banner-subtitle">Comida de fitness</p>
                        <a href="#" class="banner-btn-orden">Ordenar</a>
						<p class="banner-text">
							starting at &dollar; <b>29</b>.99
						</p>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <Image src={banner} alt="banner" class="banner-img" />
                <div class="banner-content">
                    <div class="banner-content2">
                        <h2 class="banner-title">30% Off</h2>
                        <p class="banner-subtitle">Comida de fitness</p>
                        <a href="#" class="banner-btn-orden">Ordenar</a>
						<p class="banner-text">
							starting at &dollar; <b>29</b>.99
						</p>
                    </div>
                </div>
            </div>
			<div class="slider-item">
                <Image src={banner} alt="banner" class="banner-img" />
                <div class="banner-content">
                    <div class="banner-content2">
                        <h2 class="banner-title">30% Off</h2>
                        <p class="banner-subtitle">Comida de fitness</p>
                        <a href="#" class="banner-btn-orden">Ordenar</a>
						<p class="banner-text">
							starting at &dollar; <b>29</b>.99
						</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</astro-doc>

