<astro-doc>
	<div class="product-container">
		<div class="container">
			<div class="product-box">
				<div class="container-billing">
					<!-- <h2>Lista de Facturas</h2> -->
					<!-- <div class="table-wrapper"> -->
					<div class="card-billing">
						<div class="search-box-billing">
							<input type="text" placeholder="Buscar..." />
						</div>
						<table class="table-billing">
							<thead>
								<tr>
									<th>Id</th>
									<th>Fecha emitido</th>
									<th>Monto total</th>
									<th>Sucursal nombre</th>
									<th>Estado</th>
									<th>Cajero</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Factura 001</td>
									<td>01/01/2024</td>
									<td>100.00 BS</td>
									<td>KFC</td>
									<td class="td-billing">Realizado</td>
									<td>Juan</td>
								</tr>

								<tr>
									<td>Factura 001</td>
									<td>01/01/2024</td>
									<td>100.00 BS</td>
									<td>KFC</td>
									<td>Realizado</td>
									<td>Juan</td>
								</tr>

								<tr>
									<td>Factura 001</td>
									<td>01/01/2024</td>
									<td>100.00 BS</td>
									<td>KFC</td>
									<td>Realizado</td>
									<td>Juan</td>
								</tr>
							</tbody>
						</table>

						<div class="pagination-billing">
							<button class="pagination-billing-btn">&laquo; Anterior</button>
							<button class="pagination-billing-btn">1</button>
							<button class="pagination-billing-btn">2</button>
							<button class="pagination-billing-btn">3</button>
							<button class="pagination-billing-btn">Siguiente &raquo;</button>
						</div>
					</div>
					<!-- </div> -->
				</div>

				<!--
				- SIDEBAR
			  -->

				<div class="sidebar has-scrollbar" data-mobile-menu>
					<style>
						.sidebar.has-scrollbar[data-mobile-menu] {
							position: absolute;
							top: -10%;
							/* Ajusta según sea necesario */
							left: 74%;
							/* Ajusta según sea necesario */
						}

						@media only screen and (max-width: 768px) {
							.sidebar.has-scrollbar[data-mobile-menu] {
								position: fixed;
								top: 50px;
								/* Puedes ajustar este valor según tus necesidades */
								right: 0;
								bottom: 0;
								left: 0;
								transform: translateX(0%);
								z-index: 999;
								/* Puedes ajustar este valor según tus necesidades */
							}
						}
					</style>

					<div class="sidebar-category">
						<h2 class="sidebar-title">Pedido del Cliente</h2>
						<div class="sidebar-top">
							<p>
								Cliente
								<i class="bx bx-chevron-down"></i>
							</p>

							<p>
								Dirección
								<i class="bx bx-chevron-right"></i>
							</p>

							40 minutos 5 km
							<i class="bx bx-chevron-right"></i>

							<button class="sidebar-close-btn" data-mobile-menu-close-btn>
								<i class="bx bx-chevron-down"></i>
							</button>
						</div>

						<!-- <form> -->

						<div class="category-item">
							<div class="sidebar-img-box">
								<img src="./images/food/food-menu-1.png" alt="HAMBURGUESAS" width="50" />
							</div>

							<div class="sidebar-content-box">
								<div class="category-content-flex">
									<h3 class="sidebar-item-title">Burger Mozza XL</h3>
									<p class="category-item-amount">&39</p>
								</div>

								<p class="category-item-amount">Extra cheese</p>
								<select class="sidebar-select" name="cantidad" id="cantidad">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<!-- Agrega más opciones según sea necesario -->
								</select>

								<a href="#" class="category-btn">Show all</a>
							</div>
						</div>

						<ul class="sidebar-menu-category-list">
							<li class="sidebar-menu-category">
								<button class="sidebar-accordion-menu" data-accordion-btn>
									<div class="menu-title-flex">
										<img
											src="./images/food/food-menu-1.png"
											alt="clothes"
											width="20"
											height="20"
											class="menu-title-img"
										/>

										<p class="menu-title">Burger Mozza XL</p>
									</div>

									<div>
										<ion-icon name="add-outline" class="add-icon"></ion-icon>
										<ion-icon name="remove-outline" class="remove-icon"></ion-icon>
									</div>
								</button>

								<ul class="sidebar-submenu-category-list" data-accordion>
									<li class="sidebar-submenu-category">
										<a href="#" class="sidebar-submenu-title">
											<p class="product-name">Sub Total</p>
											<data value="300" class="stock" title="Available Stock">300</data>
										</a>
									</li>

									<li class="sidebar-submenu-category">
										<a href="#" class="sidebar-submenu-title">
											<p class="product-name">Delivery Fee</p>
											<data value="60" class="stock" title="Available Stock">60</data>
										</a>
									</li>

									<li class="sidebar-submenu-category">
										<a href="#" class="sidebar-submenu-title">
											<p class="product-name">Total</p>
											<data value="87" class="stock" title="Available Stock">87</data>
										</a>
									</li>
								</ul>
							</li>
						</ul>

						<div class="sidebar-top">
							<p>
								Usuario
								<i class="bx bx-chevron-down"></i>
							</p>
							<p id="openModalBtn2" class="banner-btn2">
								Seleccionar
								<i class="bx bx-chevron-right"></i>
								<!-- <button id="openModalBtn"  class="banner-btn">Gerenerar Qr</button> -->
							</p>
						</div>

						<div class="sidebar-top">
							<p>Ci:</p>
							<p id="openModalBtn" class="banner-btn2">
								Seleccionar
								<i class="bx bx-chevron-right"></i>
								<!-- <button id="openModalBtn"  class="banner-btn">Gerenerar Qr</button> -->
							</p>
						</div>

						<div class="sidebar-top">
							<p>Pasarela de pagos:</p>
							<p>Efectivo QR Tarjeta</p>
						</div>

						<div class="sidebar-top">
							<p>Sub Total</p>
							<p>10 Bs</p>
						</div>

						<div class="sidebar-top">
							<p>Delivery Fee</p>
							<p>10 Bs</p>
						</div>

						<div class="sidebar-top">
							<p>Total</p>
							<p>10 Bs</p>
						</div>

						<div>
							<!-- <a href="#" class="banner-btn">Verificar</a> -->
							<button class="banner-btn">Verificar</button>
						</div>
						<!-- </form> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</astro-doc>

<style>
	.card-billing {
		background-color: #f3f3f3;
		border-radius: 10px;
		padding: 20px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}

	.search-box-billing {
		margin-bottom: 20px;
	}

	.search-box-billing input[type='text'] {
		width: 100%;
		padding: 10px;
		border: 1px solid #ddd;
		border-radius: 5px;
		box-sizing: border-box;
		font-size: 16px;
		color: #555;
	}

	.pagination-billing {
		margin-top: 20px;
		display: flex;
		justify-content: center;
	}

	.pagination-billing-btn {
		background-color: #ff5c28;
		color: white;
		padding: 4px 10px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		margin: 0 5px;
		transition: background-color 0.3s ease;
	}

	.pagination-billing-btn:hover {
		background-color: #000000;
	}

	.container-billing {
		max-width: 1200px;
		margin: 20px auto;
		padding: 20px;
		/* border-radius: 10px;
                          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
	}

	h2 {
		text-align: center;
	}

	.table-wrapper {
		overflow-x: auto;
	}

	.table-container {
		overflow-x: auto;
	}

	.table-billing {
		border-collapse: collapse;
		width: 100%;
		background-color: #fff;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	.table-billing th,
	td {
		text-align: left;
		padding: 10px;
		border-bottom: 1px solid #dee2e6;
	}

	.table-billing tr:hover {
		background-color: #ffe082;
	}

	.table-billing th {
		background-color: #ff5c28;
		color: #fff;
		font-weight: bold;
		letter-spacing: 1px;
	}

	.table-billing th {
		background-color: #ff5c28;
		color: #fff;
		font-size: 12px;
	}

	.table-billing td {
		color: #000000;
		font-size: 12px;
	}

	/* Estilos de botones */
	.btn-process,
	.btn-print {
		padding: 8px 16px;
		margin-right: 8px;
		border: none;
		background-color: #ff5c28;
		color: #fff;
		cursor: pointer;
		border-radius: 4px;
		transition: background-color 0.3s ease;
	}

	.btn-process:hover,
	.btn-print:hover {
		background-color: #ff5c28;
	}

	/* Estilos responsivos */
	@media screen and (max-width: 768px) {
		.container-billing {
			padding: 10px;
		}
	}
</style>
