<astro-doc>
	<nav class="desktop-navigation-menu" style="width: 70%;">
		<div class="container">
			<ul class="desktop-menu-category-list">
				<li class="menu-category">
					<i class="bx bx-map bx-xs"></i>
					<a href="#" class="menu-title">Cerca</a>
				</li>

				<li class="menu-category">
					<i class="bx bx-gift"></i>
					<a href="#" class="menu-title">Promoción</a>
				</li>

				<li class="menu-category">
					<i class="bx bx-chevrons-up"></i>
					<a href="#" class="menu-title">Recién llegados</a>
				</li>

				<li class="menu-category">
					<i class="bx bx-chevrons-up"></i>
					<a href="#" class="menu-title">Mejor vendedora</a>
				</li>

				<li class="menu-category">
					<i class="bx bx-star"></i>
					<a href="#" class="menu-title">Top ranking</a>
				</li>

				<li class="menu-category">
					<i class="bx bx-grid-alt"></i>
					<a href="#" class="menu-title">Todo</a>

					<ul class="dropdown-list">
						<li class="dropdown-item">
							<a href="#">Inicio 1</a>
						</li>

						<li class="dropdown-item">
							<a href="#">Inicio 2</a>
						</li>

						<li class="dropdown-item">
							<a href="#">Inicio 2</a>
						</li>

						<li class="dropdown-item">
							<a href="#">Inicio 3</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</astro-doc>

