<div class="overlay" data-overlay></div>

<!--
  - MODAL
-->

<div class="modal" id="cajaModal" data-modal>
    <div class="modal-close-overlay" data-modal-overlay></div>
    <div class="modal-content">
        <button id="aperturarBtn" class="modal-close-btn" data-modal-close>
           
            <i class="bx bx-x"></i>
        </button>

        <div class="newsletter">
            <div class="newsletter-img">
                <h3 class="newsletter-title">QR.</h3>
                <img src="./images/caja/qr.jpg" alt="Pago qr" width="100" height="100" />
            </div>
            <form id="cajaForm">
                <div class="newsletter-header">
                    <p class="newsletter-desc">
                        <b>Monto: 200.00 Bs.</b>
                    </p>
                </div>
                <!-- <button id="aperturarBtn" type="submit" style="background-color: #FF5C28;" class="btn-newsletter">
                    Aperturar Caja
                    <i class="bx bxs-chevron-right"></i>
                </button> -->
            </form>
        </div>
    </div>
</div>

<script>

     document.getElementById('aperturarBtn').addEventListener('click', function(event) {
         event.preventDefault();
         alert('¡La caja ha sido iniciada!');
         var modal = document.getElementById('cajaModal');
         modal.style.display = 'none';
    });

    document.querySelector('.modal-content').addEventListener('click', function(event) {
        event.stopPropagation(); 
    });
</script>
