<div class="category">
    <div class="container">
        <div class="category-item-container has-scrollbar">
            <div class="category-item">
                <div class="category-img-box">
                    <img
                        src="./images/food/food-menu-1.png"
                        alt="HAMBURGUESAS"
                        width="30"
                    />
                </div>

                <div class="category-content-box">
                    <div class="category-content-flex">
                        <h3 class="category-item-title">HAMBURGUESAS</h3>

                        <p class="category-item-amount">(53)</p>
                    </div>

                    <a href="#" class="category-btn">Show all</a>
                </div>
            </div>

            <div class="category-item">
                <div class="category-img-box">
                    <img
                        src="./images/food/food-menu-2.png"
                        alt="HAMBURGUESAS"
                        width="30"
                    />
                </div>

                <div class="category-content-box">
                    <div class="category-content-flex">
                        <h3 class="category-item-title">HAMBURGUESAS</h3>

                        <p class="category-item-amount">(58)</p>
                    </div>

                    <a href="#" class="category-btn">Show all</a>
                </div>
            </div>

            <div class="category-item">
                <div class="category-img-box">
                    <img
                        src="./images/food/food-menu-3.png"
                        alt="HAMBURGUESAS"
                        width="30"
                    />
                </div>

                <div class="category-content-box">
                    <div class="category-content-flex">
                        <h3 class="category-item-title">HAMBURGUESAS</h3>

                        <p class="category-item-amount">(68)</p>
                    </div>

                    <a href="#" class="category-btn">Show all</a>
                </div>
            </div>

            <div class="category-item">
                <div class="category-img-box">
                    <img
                        src="./images/food/food-menu-4.png"
                        alt="HAMBURGUESAS"
                        width="30"
                    />
                </div>

                <div class="category-content-box">
                    <div class="category-content-flex">
                        <h3 class="category-item-title">HAMBURGUESAS</h3>

                        <p class="category-item-amount">(84)</p>
                    </div>

                    <a href="#" class="category-btn">Show all</a>
                </div>
            </div>

            <div class="category-item">
                <div class="category-img-box">
                    <img
                        src="./images/food/food-menu-4.png"
                        alt="HAMBURGUESAS"
                        width="30"
                    />
                </div>

                <div class="category-content-box">
                    <div class="category-content-flex">
                        <h3 class="category-item-title">HAMBURGUESAS</h3>

                        <p class="category-item-amount">(84)</p>
                    </div>

                    <a href="#" class="category-btn">Show all</a>
                </div>
            </div>

            <div class="category-item">
                <div class="category-img-box">
                    <img
                        src="./images/food/food-menu-4.png"
                        alt="HAMBURGUESAS"
                        width="30"
                    />
                </div>

                <div class="category-content-box">
                    <div class="category-content-flex">
                        <h3 class="category-item-title">HAMBURGUESAS</h3>

                        <p class="category-item-amount">(84)</p>
                    </div>

                    <a href="#" class="category-btn">Show all</a>
                </div>
            </div>
        </div>
    </div>
</div>