<div class="product-container">
	<div class="container">
		<div class="product-box">
			<div class="blog">
				<div class="container">
					<div class="blog-container has-scrollbar">
						<div class="blog-card">
							<a href="#">
								<img
									src="./images/food/1.jpg"
									alt="Clothes Retail KPIs 2021 Guide for Clothes Executives"
									class="blog-banner"
								/>
							</a>

							<div class="blog-content">
								<a href="#" class="blog-category">Panera Soup</a>
								<a href="#">
									<h3 class="blog-title">Comida rápida .</h3>
								</a>
								<p class="blog-meta">Precio 30$</p>
								<div>
									<a href="#" class="banner-btn">ORDENAR AHORA</a>
								</div>
							</div>
						</div>

						<div class="blog-card">
							<a href="#">
								<img src="./images/food/2.jpg" alt="Foods." class="blog-banner" />
							</a>

							<div class="blog-content">
								<a href="#" class="blog-category">Panera Soup</a>

								<a href="#">
									<h3 class="blog-title">Comida rápida .</h3>
								</a>

								<p class="blog-meta">Precio 30$</p>

								<div>
									<a href="#" class="banner-btn">ORDENAR AHORA</a>
								</div>
							</div>
						</div>

						<div class="blog-card">
							<a href="#">
								<img src="./images/food/3.jpg" alt="Foods." class="blog-banner" />
							</a>

							<div class="blog-content">
								<a href="#" class="blog-category">Panera Soup</a>

								<a href="#">
									<h3 class="blog-title">Comida rápida .</h3>
								</a>

								<p class="blog-meta">Precio 30$</p>

								<div>
									<a href="#" class="banner-btn">ORDENAR AHORA</a>
								</div>
							</div>
						</div>

						<div class="blog-card">
							<a href="#">
								<img src="./images/food/4.jpg" alt="Foods." class="blog-banner" />
							</a>

							<div class="blog-content">
								<a href="#" class="blog-category">Panera Soup</a>

								<a href="#">
									<h3 class="blog-title">Comida rápida .</h3>
								</a>

								<p class="blog-meta">Precio 30$</p>
								<div>
									<a href="#" class="banner-btn">ORDENAR AHORA</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="blog-container has-scrollbar">
						<div class="blog-card">
							<a href="#">
								<img
									src="./images/food/1.jpg"
									alt="Clothes Retail KPIs 2021 Guide for Clothes Executives"
									class="blog-banner"
								/>
							</a>

							<div class="blog-content">
								<a href="#" class="blog-category">Panera Soup</a>

								<a href="#">
									<h3 class="blog-title">Comida rápida .</h3>
								</a>

								<p class="blog-meta">Precio 30$</p>
								<div>
									<a href="#" class="banner-btn">ORDENAR AHORA</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
