
			<div class="product-container">
				<div class="container">
					<div class="product-box">
						<div class="blog">
							<div class="container">
								<div class="blog-container has-scrollbar">
									<div class="blog-card">
										<a href="#">
											<img
												src="./images/food/1.jpg"
												alt="Clothes Retail KPIs 2021 Guide for Clothes Executives"
												class="blog-banner"
											/>
										</a>

										<div class="blog-content">
											<a href="#" class="blog-category">Panera Soup</a>
											<a href="#">
												<h3 class="blog-title">Comida rápida .</h3>
											</a>
											<p class="blog-meta">Precio 30$</p>
											<div>
												<a href="#" class="banner-btn">ORDENAR AHORA</a>
											</div>
										</div>
									</div>

									<div class="blog-card">
										<a href="#">
											<img
												src="./images/food/2.jpg"
												alt="Foods."
												class="blog-banner"
											/>
										</a>

										<div class="blog-content">
											<a href="#" class="blog-category">Panera Soup</a>

											<a href="#">
												<h3 class="blog-title">Comida rápida .</h3>
											</a>

											<p class="blog-meta">Precio 30$</p>

											<div>
												<a href="#" class="banner-btn">ORDENAR AHORA</a>
											</div>
										</div>
									</div>

									<div class="blog-card">
										<a href="#">
											<img
												src="./images/food/3.jpg"
												alt="Foods."
												class="blog-banner"
											/>
										</a>

										<div class="blog-content">
											<a href="#" class="blog-category">Panera Soup</a>

											<a href="#">
												<h3 class="blog-title">Comida rápida .</h3>
											</a>

											<p class="blog-meta">Precio 30$</p>

											<div>
												<a href="#" class="banner-btn">ORDENAR AHORA</a>
											</div>
										</div>
									</div>

									<div class="blog-card">
										<a href="#">
											<img
												src="./images/food/4.jpg"
												alt="Foods."
												class="blog-banner"
											/>
										</a>

										<div class="blog-content">
											<a href="#" class="blog-category">Panera Soup</a>

											<a href="#">
												<h3 class="blog-title">Comida rápida .</h3>
											</a>

											<p class="blog-meta">Precio 30$</p>
											<div>
												<a href="#" class="banner-btn">ORDENAR AHORA</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="container">
								<div class="blog-container has-scrollbar">
									<div class="blog-card">
										<a href="#">
											<img
												src="./images/food/1.jpg"
												alt="Clothes Retail KPIs 2021 Guide for Clothes Executives"
												class="blog-banner"
											/>
										</a>

										<div class="blog-content">
											<a href="#" class="blog-category">Panera Soup</a>

											<a href="#">
												<h3 class="blog-title">Comida rápida .</h3>
											</a>

											<p class="blog-meta">Precio 30$</p>
											<div>
												<a href="#" class="banner-btn">ORDENAR AHORA</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--
				- SIDEBAR
			  -->

					<div class="sidebar has-scrollbar" data-mobile-menu>
						<style>
							.sidebar.has-scrollbar[data-mobile-menu] {
								position: absolute;
								top: -65%;
								/* Ajusta según sea necesario */
								left: 74%;
								/* Ajusta según sea necesario */
							}

							@media only screen and (max-width: 768px) {
								.sidebar.has-scrollbar[data-mobile-menu] {
									position: fixed;
									top: 50px;
									/* Puedes ajustar este valor según tus necesidades */
									right: 0;
									bottom: 0;
									left: 0;
									transform: translateX(0%);
									z-index: 999;
									/* Puedes ajustar este valor según tus necesidades */
								}
							}
						</style>

						<div class="sidebar-category">
							<div class="sidebar-top">
								<h2 class="sidebar-title">Mi pedido</h2>
								<br />
								<p>
									Dirección de entrega 1342 Morris Street
							   </p>
								
								<br />
								40 minutos 5 km

								<button class="sidebar-close-btn" data-mobile-menu-close-btn>
									<ion-icon name="close-outline"></ion-icon>
								</button>
							</div>

							<form>
								<div class="category-item">
									<div class="sidebar-img-box">
										<img
											src="./images/food/food-menu-1.png"
											alt="HAMBURGUESAS"
											width="50"
										/>
									</div>

									<div class="sidebar-content-box">
										<div class="category-content-flex">
											<h3 class="sidebar-item-title">Burger Mozza XL</h3>
											<p class="category-item-amount">&39</p>
										</div>
										<p class="category-item-amount">Extra cheese</p>
										<select
											class="sidebar-select"
											name="cantidad"
											id="cantidad"
										>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<!-- Agrega más opciones según sea necesario -->
										</select>

										<a href="#" class="category-btn">Show all</a>
									</div>
								</div>

								<ul class="sidebar-menu-category-list">
									<li class="sidebar-menu-category">
										<button class="sidebar-accordion-menu" data-accordion-btn>
											<div class="menu-title-flex">
												<img
													src="./images/food/food-menu-1.png"
													alt="clothes"
													width="20"
													height="20"
													class="menu-title-img"
												/>

												<p class="menu-title">Burger Mozza XL</p>
											</div>

											<div>
												<ion-icon name="add-outline" class="add-icon"
												></ion-icon>
												<ion-icon name="remove-outline" class="remove-icon"
												></ion-icon>
											</div>
										</button>

										<ul class="sidebar-submenu-category-list" data-accordion>
											<li class="sidebar-submenu-category">
												<a href="#" class="sidebar-submenu-title">
													<p class="product-name">Sub Total</p>
													<data
														value="300"
														class="stock"
														title="Available Stock">300</data
													>
												</a>
											</li>

											<li class="sidebar-submenu-category">
												<a href="#" class="sidebar-submenu-title">
													<p class="product-name">Delivery Fee</p>
													<data
														value="60"
														class="stock"
														title="Available Stock">60</data
													>
												</a>
											</li>

											<li class="sidebar-submenu-category">
												<a href="#" class="sidebar-submenu-title">
													<p class="product-name">Total</p>
													<data
														value="87"
														class="stock"
														title="Available Stock">87</data
													>
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<div>
									<a href="#" class="banner-btn">Check Out</a>
								</div>
							</form>
						</div>


					</div>
				</div>
	
			</div>
