---
import { Image } from 'astro:assets'
import food1 from '@images/food/11.jpg'
---

<astro-doc>
  <div class="category">
    <div class="container">
      <div class="category-item-container has-scrollbar">
        <div class="category-item">
          <div class="category-img-box">
            <Image src={food1} alt="HAMBURGUESAS" width="30" />
          </div>
          <div class="category-content-box">
            <div class="category-content-flex">
              <h3 class="category-item-title">HAMBURGUESAS</h3>
              <p class="category-item-amount">(53)</p>
            </div>
            <a href="#" class="category-btn">Ver mas</a>
          </div>
        </div>
        <div class="category-item">
          <div class="category-img-box">
            <Image src={food1} alt="HAMBURGUESAS" width="30" />
          </div>
          <div class="category-content-box">
            <div class="category-content-flex">
              <h3 class="category-item-title">HAMBURGUESAS</h3>
              <p class="category-item-amount">(53)</p>
            </div>
            <a href="#" class="category-btn">Ver mas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</astro-doc>
