---
	const { text } = Astro.props
---

<button class="py-2 px-6 rounded text-white btn bg-blue-500 "> { text }</button>
<style>
		.btn {
				background-color: #FF5C28;
		}
    .btn:hover {
        background-color: #DA3805;
    }
</style>