<div class="product-container">
    <div class="container">
        <div class="product-box">
            <div class="blog">
                <div class="container">
                    <div class="blog-container has-scrollbar">
                        <div class="blog-card">
                            <a href="#">
                                <img src="./images/food/1.jpg"
                                    alt="Clothes Retail KPIs 2021 Guide for Clothes Executives" class="blog-banner" />
                            </a>

                            <div class="blog-content">
                                <a href="#" class="blog-category">Panera Soup</a>
                                <a href="#">
                                    <h3 class="blog-title">Comida rápida .</h3>
                                </a>
                                <p class="blog-meta">Precio 30$</p>
                                <div>
                                    <a href="#" class="banner-btn">Ordenar</a>
                                </div>
                            </div>
                        </div>

                        <div class="blog-card">
                            <a href="#">
                                <img src="./images/food/2.jpg" alt="Foods." class="blog-banner" />
                            </a>

                            <div class="blog-content">
                                <a href="#" class="blog-category">Panera Soup</a>

                                <a href="#">
                                    <h3 class="blog-title">Comida rápida .</h3>
                                </a>

                                <p class="blog-meta">Precio 30$</p>

                                <div>
                                    <a href="#" class="banner-btn">Ordenar</a>
                                </div>
                            </div>
                        </div>

                        <div class="blog-card">
                            <a href="#">
                                <img src="./images/food/3.jpg" alt="Foods." class="blog-banner" />
                            </a>

                            <div class="blog-content">
                                <a href="#" class="blog-category">Panera Soup</a>

                                <a href="#">
                                    <h3 class="blog-title">Comida rápida .</h3>
                                </a>

                                <p class="blog-meta">Precio 30$</p>

                                <div>
                                    <a href="#" class="banner-btn">Ordenar</a>
                                </div>
                            </div>
                        </div>

                        <div class="blog-card">
                            <a href="#">
                                <img src="./images/food/4.jpg" alt="Foods." class="blog-banner" />
                            </a>

                            <div class="blog-content">
                                <a href="#" class="blog-category">Panera Soup</a>

                                <a href="#">
                                    <h3 class="blog-title">Comida rápida .</h3>
                                </a>

                                <p class="blog-meta">Precio 30$</p>
                                <div>
                                    <a href="#" class="banner-btn">Ordenar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="blog-container has-scrollbar">
                        <div class="blog-card">
                            <a href="#">
                                <img src="./images/food/1.jpg"
                                    alt="Clothes Retail KPIs 2021 Guide for Clothes Executives" class="blog-banner" />
                            </a>

                            <div class="blog-content">
                                <a href="#" class="blog-category">Panera Soup</a>

                                <a href="#">
                                    <h3 class="blog-title">Comida rápida .</h3>
                                </a>

                                <p class="blog-meta">Precio 30$</p>
                                <div>
                                    <a href="#" class="banner-btn">Ordenar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
				- SIDEBAR
			  -->

        <div class="sidebar has-scrollbar" data-mobile-menu>
            <style>
                .sidebar.has-scrollbar[data-mobile-menu] {
                    position: absolute;
                    top: -60%;
                    /* Ajusta según sea necesario */
                    left: 74%;
                    /* Ajusta según sea necesario */
                }

                @media only screen and (max-width: 768px) {
                    .sidebar.has-scrollbar[data-mobile-menu] {
                        position: fixed;
                        top: 50px;
                        /* Puedes ajustar este valor según tus necesidades */
                        right: 0;
                        bottom: 0;
                        left: 0;
                        transform: translateX(0%);
                        z-index: 999;
                        /* Puedes ajustar este valor según tus necesidades */
                    }
                }
            </style>

            <div class="sidebar-category">
                <h2 class="sidebar-title">Pedido del Cliente</h2>
                <!-- <div class="sidebar-top">
								<p>Cliente
									<i class='bx bx-chevron-down'></i>

								</p>
					
								<p>
									Dirección
									<i class='bx bx-chevron-right'></i>
							   </p>
				
								40 minutos 5 km
								<i class='bx bx-chevron-right'></i>

								<button class="sidebar-close-btn" data-mobile-menu-close-btn>
									<i class='bx bx-chevron-down'></i>
								</button>
							</div> -->

                <!-- <form> -->
                <div class="category-item">
                    <div class="sidebar-img-box">
                        <img src="./images/food/food-menu-1.png" alt="HAMBURGUESAS" width="50" />
                    </div>

                    <div class="sidebar-content-box">
                        <div class="category-content-flex">
                            <h3 class="sidebar-item-title">Burger Mozza XL</h3>
                            <p class="category-item-amount">&39</p>
                        </div>

                        <p class="category-item-amount">Extra cheese</p>
                        <select class="sidebar-select" name="cantidad" id="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <!-- Agrega más opciones según sea necesario -->
                        </select>

                        <a href="#" class="category-btn">Show all</a>
                    </div>
                </div>

                <div class="category-item">
                    <div class="sidebar-img-box">
                        <img src="./images/food/food-menu-1.png" alt="HAMBURGUESAS" width="50" />
                    </div>

                    <div class="sidebar-content-box">
                        <div class="category-content-flex">
                            <h3 class="sidebar-item-title">Burger Mozza XL</h3>
                            <p class="category-item-amount">&39</p>
                        </div>

                        <p class="category-item-amount">Extra cheese</p>
                        <select class="sidebar-select" name="cantidad" id="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <!-- Agrega más opciones según sea necesario -->
                        </select>

                        <a href="#" class="category-btn">Show all</a>
                    </div>
                </div>

                <ul class="sidebar-menu-category-list">
                    <li class="sidebar-menu-category">
                        <button class="sidebar-accordion-menu" data-accordion-btn>
                            <div class="menu-title-flex">
                                <img src="./images/food/food-menu-1.png" alt="clothes" width="20" height="20"
                                    class="menu-title-img" />

                                <p class="menu-title">Burger Mozza XL</p>
                            </div>

                            <div>
                                <ion-icon name="add-outline" class="add-icon"></ion-icon>
                                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                            </div>
                        </button>

                        <ul class="sidebar-submenu-category-list" data-accordion>
                            <li class="sidebar-submenu-category">
                                <a href="#" class="sidebar-submenu-title">
                                    <p class="product-name">Sub Total</p>
                                    <data value="300" class="stock" title="Available Stock">300</data>
                                </a>
                            </li>

                            <li class="sidebar-submenu-category">
                                <a href="#" class="sidebar-submenu-title">
                                    <p class="product-name">Delivery Fee</p>
                                    <data value="60" class="stock" title="Available Stock">60</data>
                                </a>
                            </li>

                            <li class="sidebar-submenu-category">
                                <a href="#" class="sidebar-submenu-title">
                                    <p class="product-name">Total</p>
                                    <data value="87" class="stock" title="Available Stock">87</data>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>



                <div class="sidebar-top">
                    <p>
                        Usuario
                        <i class="bx bx-chevron-down"></i>
                    </p>
                    <p id="modal-qr2" class="banner-btn2">
                        Seleccionar
                        <i class="bx bx-chevron-right"></i>
                        <!-- <button id="modal-qr"  class="banner-btn">Gerenerar Qr</button> -->
                    </p>
                </div>

                <div class="sidebar-top">
                    <p>Ci:</p>
                    <p id="modal-qr" class="banner-btn2">
                        Seleccionar
                        <i class="bx bx-chevron-right"></i>
                        <!-- <button id="modal-qr"  class="banner-btn">Gerenerar Qr</button> -->
                    </p>
                </div>

                <!-- <div class="sidebar-top">
						<p>Pasarela de pagos:</p>
						<p>
							<select>
								<option value="Efectivo"><i class="bx bx-chevron-down"></i>Efectivo</option>
								<option value="QR"><i class="bx bx-chevron-down"></i>QR</option>
								<option value="Tarjeta"><i class="bx bx-chevron-down"></i>Tarjeta</option>
							</select>
						</p>
					</div> -->


                <div class="sidebar-top">
                    <p>Pasarela de pagos:</p>
                    <p>

                        Efectivo
                        QR
                        Tarjeta

                    </p>
                </div>



                <div class="sidebar-top">
                    <p>Sub Total</p>
                    <p>10 Bs</p>
                </div>

                <div class="sidebar-top">
                    <p>Delivery Fee</p>
                    <p>10 Bs</p>
                </div>

                <div class="sidebar-top">
                    <p>Total</p>
                    <p>10 Bs</p>
                </div>

                <div>
                    <!-- <a href="#" class="banner-btn">Verificar</a> -->
                    <button class="banner-btn">Verificar</button>

                </div>
                <!-- </form> -->


                <button id="openModalBtn" class="banner-btn">Gerenerar Qr</button>


                <style>
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
                </style>



                <div id="myModal" class="modal">
                    <div class="modal-content">

                        <button id="aperturarBtn" class="modal-close-btn" onclick="closeModal()" data-modal-close>

                            <i class="bx bx-x"></i>
                        </button>


                        <div class="newsletter">
                            <div class="newsletter-img">
                                <h3 class="newsletter-title">QR.</h3>
                                <img src="./images/caja/qr.jpg" alt="Pago qr" width="100" height="100" />
                            </div>
                            <form id="cajaForm">
                                <div class="newsletter-header">
                                    <p class="newsletter-desc">
                                        <b>Monto: 200.00 Bs.</b>
                                    </p>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

                <script>
                    // Obtener elementos del DOM
                    var modal = document.getElementById("myModal");
                    var openModalBtn = document.getElementById("openModalBtn");
                    var bannerbtn2 = document.getElementById("banner-btn2");
                    
                    var closeBtn = document.getElementsByClassName("modal-close-btn")[0];
                    
                    // Función para abrir el modal
                    function openModal() {
                      modal.style.display = "block";
                    }
                    
                    // Función para cerrar el modal
                    function closeModal() {
                      modal.style.display = "none";
                    }
                    
                    // Event listeners para abrir y cerrar el modal
                    openModalBtn.addEventListener("click", openModal);
                    closeBtn.addEventListener("click", closeModal);
                    
                    // Cerrar el modal al hacer clic fuera de él
                    window.addEventListener("click", function(event) {
                      if (event.target == modal) {
                        closeModal();
                      }
                    });
                    </script>


            </div>
        </div>
    </div>
</div>