

    <div class="overlay" data-overlay></div>

    <!--
      - MODAL
    -->
    <div class="modal" data-modal>
        <div class="modal-close-overlay" data-modal-overlay></div>
        <div class="modal-content">
            <div class="newsletter-img">
                <img
                    src="./images/caja/caja.png"
                    alt="subscribe newsletter"
                    width="400"
                    height="400"
                />
            </div>
            <div class="newsletter">
                <form action="#">
                    <div class="newsletter-header">
                        <h3 class="newsletter-title">Caja Iniciar.</h3>
                        <p class="newsletter-desc">
                            Iniciar caja <b>Locoto</b>apertuar.
                        </p>
                    </div>
                    <button type="submit" style="background-color: #FF5C28;"  class="btn-newsletter">Apertuar Caja</button>
                    
                </form>
            </div>
        </div>
    </div>



