<form method="GET" class="sign-in-form" action="/client/select-branch">
	<h2 class="title">Iniciar Seccion</h2>
	<div class="input-field">
		<i class="fas fa-user"></i>
		<input
			id="email"
			type="email"
			name="email"
			required
			autocomplete="email"
			autofocus
			placeholder="Correo"
		/>
	</div>
	<div class="input-field">
		<i class="fas fa-lock"></i>
		<input
			id="password"
			type="password"
			name="password"
			required
			autocomplete="current-password"
			placeholder="Contraseña"
		/>
	</div>
	<button type="submit" value="Ingresar" class="btn2 solid">Ingresar</button>
</form>
