---

---

<div class="relative flex flex-col items-center justify-center bg-white md:h-screen">
	<div class="rounded bg-white p-10 shadow-none md:border md:border-gray-300 md:shadow-lg">
		<slot />
	</div>
</div>