---
import NEXBillingTable from './container/NEXTable.astro'
import NexPagination from './container/NexPagination.astro'
import NEXBillingSidebar from './container/NEXSidebar.astro'
---

<div class="product-container">
  <div class="container">
    <div class="product-box">
      <div class="container-billing">
        <NEXBillingTable />
        <NexPagination />
      </div>
      <NEXBillingSidebar />
    </div>
  </div>
</div>