---
import NexTable from './container/NexTable.astro'
import NexPagination from './container/NexPagination.astro'
import NexSidebar from './container/NexSidebar.astro'
---

<div class="product-container">
  <div class="container">
    <div class="product-box">
      <div class="container-billing">
        <NexTable />
        <NexPagination />
      </div>
      <NexSidebar />
    </div>
  </div>
</div>