---
import NEXBillingPagination from './container/NEXPagination.astro'
import NEXBillingTable from './container/NEXTable.astro'
---

<div class="container-billing">
  <div class="card-billing">
    <NEXBillingTable />
    <NEXBillingPagination />
  </div>
</div>
