---
import NEXBillingPagination from './container/NEXPagination.tsx'
import NEXBillingTable from './container/NEXTable.tsx'
import NEXBillingSearch from './container/NEXSearch.tsx'
---

<astro-doc>
  <div class="container-billing">
    <div class="card-billing">
      <NEXBillingSearch />
      <NEXBillingTable />
      <NEXBillingPagination />
    </div>
  </div>
</astro-doc>
