---
import NEXBillingPagination from './container/NEXPagination.astro'
import NEXBillingTable from './container/NEXTable.astro'
import NEXBillingSearch from './container/NEXSearch.tsx'
---
<astro-doc>
  <div class="container-billing">
    <div class="card-billing">
      <!-- <NEXBillingSearch /> -->
      <NEXBillingTable />
      <NEXBillingPagination />
    </div>
  </div>
</astro-doc>