---
import NEXBillingTable from './container/NEXTable.astro'
import NEXBillingPagination from './container/NEXPagination.astro'
import NEXBillingSearch from './container/NEXSearch.tsx'
import NEXBillingSidebar from './container/NEXSidebar.astro'
---

<astro-doc>
  <div class="product-container">
    <div class="container">
      <div class="product-box">
        <div class="container-billing">
          <!-- <div class="card-billing"> -->
            <!-- <NEXBillingSearch /> -->
            <NEXBillingTable />
            <NEXBillingPagination />
          <!-- </div> -->
        </div>
        <NEXBillingSidebar />
      </div>
    </div>
  </div>
</astro-doc>
