---
import NEXBillingTable from './container/NEXBillingTable.astro'
import NEXPagination from './container/NEXPagination.astro'
import NEXBillingSidebar from './container/NEXBillingSidebar.astro'
---

<div class="product-container">
  <div class="container">
    <div class="product-box">
      <div class="container-billing">
        <NEXBillingTable />
        <NEXPagination />
      </div>
      <NEXBillingSidebar />
    </div>
  </div>
</div>
