---
import NexBillingTable from './container/NexBillingTable.astro'
import NexPagination from './container/NexPagination.astro'
import NexBillingSidebar from './container/NexBillingSidebar.astro'
---

<div class="product-container">
  <div class="container">
    <div class="product-box">
      <div class="container-billing">
        <NexBillingTable />
        <NexPagination />
      </div>
      <NexBillingSidebar />
    </div>
  </div>
</div>
