---
import NEXBranchSelectClientCard from './NEXCard'
---

<astro-doc>
  <form class="sign-in-form" action="/client">
    <div class="container2">
      <h3>Seleccione una sucursal</h3>
      <br />
      <div class="card-container">
        <NEXBranchSelectClientCard />
        <NEXBranchSelectClientCard />
      </div>
    </div>
  </form>
</astro-doc>
