---
import NexForm from './NexForm.astro'
import NexSelectClient from './NexSelectClient.astro'
---

<div class="container">
  <div class="signin-signup">
    <NexForm />
  </div>
  <div class="panels-container">
    <div class="panel left-panel">
      <NexSelectClient />
    </div>
  </div>
</div>
