---
import NEXForm from './NEXForm.astro'
import NEXSelect from './NEXSelect.astro'
---

<div class="container">
  <div class="signin-signup">
    <NEXForm />
  </div>
  <div class="panels-container">
    <div class="panel left-panel">
      <NEXSelect />
    </div>
  </div>
</div>
