---
import { Image } from 'astro:assets'
import food4 from '../../../public/images/logo/logo.png' // La imagen de producto
---

<astro-doc>
	<footer>
		<div class="footer-bottom">
			<div class="container">
				<Image src={food4} alt="payment method" class="payment-img" />

				<p class="copyright">
					Copyright &copy; <a href="#">Locoto</a> reservados todos los derechos.
				</p>
			</div>
		</div>
	</footer>
</astro-doc>
