---
import NexEarningData from './NexEarningData.tsx'
---

<div class="rounded-md p-6 shadow-md shadow-black/5" style="background-color: #181B3A;">
  <div class="mb-4 flex items-start justify-between">
    <h3 class="text-base font-semibold text-white">Flujo de ganancias</h3>
    <div class="dropdown">
      <button type="button" class="dropdown-toggle text-gray-400 hover:text-gray-600">
        <button type="button" class="dropdown-toggle text-white hover:text-black">
          <i class="bx bx-dots-vertical-rounded"></i>
        </button></button
      >
      <ul
        class="dropdown-menu z-30 hidden w-full max-w-[140px] rounded-md border border-gray-100 bg-white py-1.5 shadow-md shadow-black/5"
      >
        <li>
          <a
            href="#"
            class="flex items-center px-4 py-1.5 text-[13px] text-gray-600 hover:bg-gray-50 hover:text-blue-500"
            >Profile</a
          >
        </li>
        <li>
          <a
            href="#"
            class="flex items-center px-4 py-1.5 text-[13px] text-gray-600 hover:bg-gray-50 hover:text-blue-500"
            >Settings</a
          >
        </li>
        <li>
          <a
            href="#"
            class="flex items-center px-4 py-1.5 text-[13px] text-gray-600 hover:bg-gray-50 hover:text-blue-500"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="">
    <table class="w-100">
      <tbody>
        <NexEarningData client:only />
        <p id="errorMessage" style="color: red;"></p>
      </tbody>
    </table>
  </div>
</div>
