---
import NEXBranchBillingTable from './container/NEXBranchBillingTable.tsx'
import NEXBranchBillingPagination from './container/NEXBranchBillingPagination.tsx'
import NEXBranchBillingSearch from './container/NEXBranchBillingSearch.tsx'
import NEXBranchBillingSidebar from './container/NEXBranchBillingSidebar.tsx'
---

<astro-doc>
  <div class="product-container">
    <div class="container">
      <div class="product-box">
        <div class="container-billing">
          <div class="card-billing">
            <NEXBranchBillingSearch />
            <NEXBranchBillingTable />
            <NEXBranchBillingPagination />
          </div>
        </div>
        <!-- SIDEBAR-->
        <NEXBranchBillingSidebar />
      </div>
    </div>
  </div>
</astro-doc>

