---
import NEXBranchBillingPagination from './container/NEXBranchBillingPagination.tsx'
import NEXBranchBillingTable from './container/NEXBranchBillingTable.tsx'
import NEXBranchBillingSearch from './container/NEXBranchBillingSearch.tsx'
---

<astro-doc>
	<div class="container-billing">
		<div class="card-billing">
          <NEXBranchBillingSearch />
          <NEXBranchBillingTable />
          <NEXBranchBillingPagination />
		</div>
	</div>
</astro-doc>
