---
import { Image } from 'astro:assets';
import imgLogo from '@images/cliente/Logo-KFC.png';
const login = {
  name: 'KFC',
  branch: 'Tu nuevo sistema de venta de comida. Ordena fácil, disfruta más.'
}
---

<div class="content">
  <h3>{login.name}</h3>
  <p>{login.branch}</p>
  <Image src={imgLogo} alt={login.name} />
</div>
