---
// import BaseLoginLayout from '../../layouts/BaseLoginLayout.astro'
import NEXOutlineBorder from '../../components/NEXOutlineBorder.astro'
import NEXBranchCard from '../../components/NEXBranchCard.astro'
---

<!-- <BaseLoginLayout> -->
	<NEXOutlineBorder>
		<div class="flex flex-col items-center justify-center gap-4 bg-white max-h-100 overflow-y-auto" style="max-height: 500px;">
			<NEXBranchCard branchName="Sucursal 4to anillo" branchDescription="av 4to anillo, 3 pasos al frente" />
			<NEXBranchCard branchName="Sucursal 4to anillo" branchDescription="av 4to anillo, 3 pasos al frente" />
			<NEXBranchCard branchName="Sucursal 4to anillo" branchDescription="av 4to anillo, 3 pasos al frente" />
			<NEXBranchCard branchName="Sucursal 4to anillo" branchDescription="av 4to anillo, 3 pasos al frente" />
			<NEXBranchCard branchName="Sucursal 4to anillo" branchDescription="av 4to anillo, 3 pasos al frente" />
			<NEXBranchCard branchName="Sucursal 4to anillo" branchDescription="av 4to anillo, 3 pasos al frente" />
		</div>


		
 	 <!-- <div class="container">
		 <h2>Buscar elementos</h2>
		 <input type="text" id="searchInput" placeholder="Buscar...">
		 <div id="cardContainer" class="card-container">
			 <div class="card">Elemento 1</div>
			 <div class="card">Elemento 2</div>
			 <div class="card">Elemento 3</div>
			 <div class="card">Elemento 4</div>
			 <div class="card">Elemento 5</div>
			 <div class="card">Elemento 6</div>
		 </div>
	 </div>
  -->
 
	</NEXOutlineBorder>
<!-- </BaseLoginLayout> -->
 



<!-- 

<style>
	.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.card-container {
    display: none;
    margin-top: 20px;
}

.card {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

</style>


<script>
	document.getElementById('searchInput').addEventListener('input', function() {
    var searchQuery = this.value.toLowerCase();
    var cards = document.querySelectorAll('.card');

    cards.forEach(function(card) {
        if (card.textContent.toLowerCase().includes(searchQuery)) {
            card.style.display = 'block';
        } else {
            card.style.display = 'none';
        }
    });

    document.getElementById('cardContainer').style.display = 'block';
});

</script> -->