---
import { ViewTransitions } from 'astro:transitions'
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/admin/BaseAdminLayout.css" />
    <link rel="stylesheet" href="/styles/admin/NEXMainSearchAdmin.css" />
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <script src="@assets/js/NEXSidebar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
