---
import { ViewTransitions } from 'astro:transitions'
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/NEXBranchSelectClient.css" />
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <title>NEXBranchSelectClient</title>
    <ViewTransitions />
  </head>
  <body id="body-pd">
    <slot />
  </body>
</html>
