

<div class="l-navbar" id="navbar">
    <nav class="nav">
        <div>
            <div class="nav__brand">
                <!-- <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon> -->
                <i class="bx bx-menu bx-sm" name="menu-outline" id="nav-toggle"></i>
                <a href="#" class="nav__logo">Menu</a>
            </div>
            <div class="nav__list">
                <a href="#" class="nav__link active">
                    <i class="bx bx-menu bx-sm"></i>
                    <span class="nav__name">Dashboard</span>
                </a>


                <div class="nav__link collapse">
                    <i class="bx bx-menu bx-sm"></i>
                    <span class="nav__name">Proyectos</span>

                    <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                    <ul class="collapse__menu">
                        <a href="#" class="collapse__sublink">Data</a>
                        <a href="#" class="collapse__sublink">Group</a>
                        <a href="#" class="collapse__sublink">Members</a>
                    </ul>
                </div>

                <a href="#" class="nav__link">
                    <i class="bx bx-menu bx-sm"></i>
                    <span class="nav__name">Analizar</span>
                </a>
                <div class="nav__link collapse">
                    <i class="bx bx-menu bx-sm"></i>
                    <span class="nav__name">Team</span>

                    <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                    <ul class="collapse__menu">
                        <a href="#" class="collapse__sublink">Data</a>
                        <a href="#" class="collapse__sublink">Group</a>
                        <a href="#" class="collapse__sublink">Members</a>
                    </ul>
                </div>
                <a href="#" class="nav__link">
                    <i class="bx bx-menu bx-sm"></i>
                    <span class="nav__name">Settings</span>
                </a>
            </div>
        </div>

        <a href="#" class="nav__link">
            <i class="bx bx-menu bx-sm"></i>
            <span class="nav__name">Log Out</span>
        </a>
    </nav>
</div>