<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/style.css" />
    <link rel="stylesheet" href="/src/styles/menu.css" />

    <link rel="shortcut icon" href="./assets/images/logo/favicon.ico" type="image/x-icon" />
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!--
    - google font link
  -->

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <script src="../../assets/js/nav.js"></script>
    <script src="../../assets/js/showmodal.js"></script>
    <script src="../../assets/js/editmodal.js"></script>
    <script src="../../assets/js/cart.js"></script>
    <script src="../../assets/js/btnqr.js"></script>
    <script src="../../assets/js/script.js"></script>
    <script src="../../assets/js/qr.js"></script>
    <script src="../../assets/js/qraccept.js"></script>
    <script src="../../assets/js/qrfaul.js"></script>
    <script src="../../assets/js/amount.js"></script>
  </head>
  <body id="body-pd">
    <slot />
  </body>
</html>
