<div
  class="relative mb-4 flex w-full min-w-0 flex-col break-words rounded bg-gray-50 p-6 shadow-lg lg:mb-0 dark:bg-gray-800"
  style="background-color: #181B3A;"
>
  <div class="mb-0 rounded-t border-0 px-0">
    <div class="flex flex-wrap items-center px-4 py-2">
      <div class="relative w-full max-w-full flex-1 flex-grow">
        <h3 class="text-base font-semibold text-white">Transacción reciente</h3>
      </div>
    </div>
    <div class="block w-full overflow-x-auto">
      <table class="w-full border-collapse items-center bg-transparent">
        <tbody>
          <tr class="text-gray-700 dark:text-gray-100">
            <th
              class="whitespace-nowrap border-l-0 border-r-0 border-t-0 p-4 px-4 text-left align-middle text-xs"
            >
              <div class="flex items-center">
                <div class="h-8 w-8 overflow-hidden rounded-full">
                  <img
                    class="h-full w-full object-cover"
                    src="http://localhost:4321/public/images/cliente/Logo-KFC.png"
                    alt="Logo KFC"
                  />
                </div>
                <div class="ml-2">
                  <p class="text-white">Rumi Aktar</p>
                  <p class="text-gray-400">15Nov 2013</p>
                </div>
              </div>
            </th>

            <td>
              <div class="flex items-center">
                <span class="mr-2 text-xs text-white">100000</span>
                <button type="button" class="dropdown-toggle text-white hover:text-orange-600">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
