---
import NEXBranchAdminCardData from './NEXBranchAdminCardData.tsx'
import NEXBranchAdminCardData1 from './NEXBranchAdminCardData1.tsx'
import NEXBranchAdminCardData2 from './NEXBranchAdminCardData2.tsx'
import NEXBranchAdminCardData3 from './NEXBranchAdminCardData3.tsx'
---

<astro-doc>
  <div class="subjects">
    <NEXBranchAdminCardData />
    <NEXBranchAdminCardData1 />
    <NEXBranchAdminCardData2 />
    <NEXBranchAdminCardData3 />
  </div>
</astro-doc>
