---
import NEXBranchAdminCardData from './NEXBranchAdminCardData.astro'
import NEXBranchAdminCardExpenses from './NEXBranchAdminCardExpenses.astro'
import NEXBranchAdminCardTransaction from './NEXBranchAdminCardTransaction.astro'
import NEXBranchAdminCardInformation from './NEXBranchAdminCardInformation.astro'
---

<astro-doc>
  <main class="lg:grid-cols-4">
    <!-- Content -->
    <!-- <div class="p-6"> -->
    <NEXBranchAdminCardData />
    <div class="mb-3 grid grid-cols-1 gap-1 p-6 lg:grid-cols-2">
      <NEXBranchAdminCardExpenses />
    </div>
    <div class="mb-3 grid grid-cols-1 gap-6 p-6 lg:grid-cols-2">
      <NEXBranchAdminCardTransaction />
      <NEXBranchAdminCardInformation />
    </div>
    <!-- </div> -->
    <!-- End Content -->
  </main>
</astro-doc>
