<div class="rounded-md p-6 shadow-md shadow-black/5" style="background-color: #181B3A;">
  <div class="mb-4 flex items-start justify-between">
    <h3 class="text-base font-semibold text-white">Información de la tarjeta</h3>
    <div class="dropdown">
      <button type="button" class="dropdown-toggle text-gray-400 hover:text-gray-600">
        <button type="button" class="dropdown-toggle text-white hover:text-black">
          <i class="bx bx-dots-vertical-rounded"></i>
        </button></button
      >
      <ul
        class="dropdown-menu z-30 hidden w-full max-w-[140px] rounded-md border border-gray-100 bg-white py-1.5 shadow-md shadow-black/5"
      >
        <li>
          <a
            href="#"
            class="flex items-center px-4 py-1.5 text-[13px] text-gray-600 hover:bg-gray-50 hover:text-blue-500"
            >Profile</a
          >
        </li>
        <li>
          <a
            href="#"
            class="flex items-center px-4 py-1.5 text-[13px] text-gray-600 hover:bg-gray-50 hover:text-blue-500"
            >Settings</a
          >
        </li>
        <li>
          <a
            href="#"
            class="flex items-center px-4 py-1.5 text-[13px] text-gray-600 hover:bg-gray-50 hover:text-blue-500"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="overflow-hidden">
    <table class="w-full min-w-[540px]">
      <tbody>
        <tr>
          <td class="border-b border-b-gray-50 px-4 py-2">
            <div class="flex items-center">
              <a
                href="#"
                class="ml-2 truncate text-sm font-medium text-gray-600 hover:text-blue-500"
                >Lorem Ipsum</a
              >
            </div>
          </td>
          <td class="border-b border-b-gray-50 px-4 py-2">
            <span class="text-[13px] font-medium text-gray-400">02-02-2024</span>
          </td>
          <td class="border-b border-b-gray-50 px-4 py-2">
            <span class="text-[13px] font-medium text-gray-400">17.45</span>
          </td>
          <td class="border-b border-b-gray-50 px-4 py-2">
            <div class="dropdown">
              <button
                type="button"
                class="dropdown-toggle flex h-6 w-6 items-center justify-center rounded bg-gray-50 text-sm text-gray-400 hover:text-gray-600"
                ><i class="ri-more-2-fill"></i></button
              >
              <ul
                class="dropdown-menu z-30 hidden w-full max-w-[140px] rounded-md border border-gray-100 bg-white py-1.5 shadow-md shadow-black/5"
              >
                <li>
                  <a
                    href="#"
                    class="flex items-center px-4 py-1.5 text-[13px] text-gray-600 hover:bg-gray-50 hover:text-blue-500"
                    >Profile</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="flex items-center px-4 py-1.5 text-[13px] text-gray-600 hover:bg-gray-50 hover:text-blue-500"
                    >Settings</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="flex items-center px-4 py-1.5 text-[13px] text-gray-600 hover:bg-gray-50 hover:text-blue-500"
                    >Logout</a
                  >
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
