---
import { Image } from 'astro:assets'
import avatar from '@images/caja/usuario.jpg'
---

<form class="relative space-y-6 p-10 py-1">
  <div class="space-y-6 rounded-lg p-6 shadow" style="background-color: #181B3A;">
    <label for="last-name" class="mb-2 block text-xl font-medium text-white"
      >Registrar Usuario</label
    >
    <label for="first-name" class="mb-2 block text-sm font-medium text-white">Foto</label>
    <div class="flex items-center gap-4">
      <Image src={avatar} alt="iniciar avatar" class="h-10 w-10 rounded-full" />
      <div class="font-medium dark:text-white">
        <label for="file-upload" class="relative cursor-pointer">
          <input type="file" id="file-upload" class="hidden" accept="image/*" />
          <button
            class="rounded-md border border-transparent bg-blue-950 px-3 py-1.5 text-sm text-white transition-colors hover:bg-orange-600"
            >Change</button
          >
        </label>
      </div>
    </div>
    <div class="flex w-full items-center justify-center">
      <label
        for="dropzone-file"
        class="h-34 flex w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 dark:border-gray-600 dark:hover:border-gray-500"
      >
        <div class="flex flex-col items-center justify-center pb-6 pt-5">
          <svg
            class="mb-4 h-8 w-8 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 16"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
            ></path>
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">Subir archivos</span> or drag and drop
          </p>
          <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG, GIF up to 10MB</p>
        </div>
        <input id="dropzone-file" type="file" class="hidden" />
      </label>
    </div>
    <div class="grid grid-cols-6 gap-6">
      <div class="col-span-6 sm:col-span-3">
        <label for="first-name" class="mb-2 block text-sm font-medium text-white">Nombre</label>
        <input
          style="background-color: #181B3A;"
          type="text"
          name="first-name"
          id="first-name"
          class="shadow-smblack block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-white"
          placeholder="Bonnie"
          required=""
        />
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="last-name" class="mb-2 block text-sm font-medium text-white"
          >Apellido Paterno</label
        >
        <input
          type="text"
          name="last-name"
          id="last-name"
          class="shadow-smblack block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-white"
          placeholder="Green"
          required=""
          style="background-color: #181B3A;"
        />
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="last-name" class="mb-2 block text-sm font-medium text-white"
          >Apellido Materno</label
        >
        <input
          type="text"
          name="last-name"
          id="last-name"
          class="shadow-smblack block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-white"
          placeholder="Green"
          required=""
          style="background-color: #181B3A;"
        />
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="email" class="mb-2 block text-sm font-medium text-white">Correo</label>
        <input
          type="email"
          name="email"
          id="email"
          class="shadow-smblack block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-white"
          placeholder="example@company.com"
          required=""
          style="background-color: #181B3A;"
        />
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="phone-number" class="mb-2 block text-sm font-medium text-white">Teléfono</label>
        <input
          type="number"
          name="phone-number"
          id="phone-number"
          class="shadow-smblack block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-white"
          placeholder="e.g. +(12)3456 789"
          required=""
          style="background-color: #181B3A;"
        />
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="phone-number" class="mb-2 block text-sm font-medium text-white"
          >Fecha de Nacimiento</label
        >
        <input
          type="date"
          name="userdate"
          id="userdate"
          class="block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-white shadow-sm"
          placeholder="2000-01-01"
          required=""
          style="background-color: #181B3A;"
        />
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="department" class="mb-2 block text-sm font-medium text-white">Dirección</label>
        <input
          type="text"
          name="department"
          id="department"
          class="shadow-smblack block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-white"
          placeholder="Development"
          required=""
          style="background-color: #181B3A;"
        />
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="gender" class="mb-2 block text-sm font-medium text-white">Sexo</label>
        <select
          name="gender"
          id="gender"
          class="shadow-smblack block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-white"
          required=""
          style="background-color: #181B3A;"
        >
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
          <option value="Otro">Otro</option>
        </select>
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="current-password" class="mb-2 block text-sm font-medium text-white"
          >Contraseña</label
        >
        <input
          type="password"
          name="current-password"
          id="current-password"
          class="shadow-smblack block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-white"
          placeholder="••••••••"
          required=""
          aria-invalid="true"
          style="background-color: #181B3A;"
        />
        <p class="mt-1 text-sm text-orange-500" id="current-password-error" aria-live="assertive">
          Contraseña incorrecta. Por favor, inténtalo de nuevo.
        </p>
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="new-password" class="mb-2 block text-sm font-medium text-white"
          >Repetir Contraseña</label
        >
        <input
          type="password"
          name="new-password"
          id="new-password"
          class="shadow-smblack block w-full rounded-lg border border-gray-300 p-2.5 text-sm text-white"
          placeholder="••••••••"
          required=""
          style="background-color: #181B3A;"
        />
      </div>
    </div>
    <div>
      <label for="terms" class="text-sm font-medium text-white dark:text-gray-300">
        Notificaciones <a href="#" class="text-orange-600 hover:underline dark:text-orange-500"
          >Siempre te informaremos sobre cambios importantes, pero tú eliges qué más quieres
          escuchar</a
        ></label
      >
    </div>
    <fieldset class="borde">
      <div class="flex items-center space-x-2">
        <input
          id="terms"
          type="checkbox"
          value=""
          class="h-4 w-4 rounded border-gray-300 text-orange-600 checked:border-orange-600 checked:bg-orange-600 focus:ring-orange-500 dark:border-gray-600 dark:bg-orange-700 dark:focus:ring-orange-600"
        />
        <label for="terms" class="text-sm font-medium text-white dark:text-gray-300">
          Estoy de acuerdo con los <a
            href="#"
            class="text-orange-600 hover:underline dark:text-orange-500">términos y condiciones</a
          ></label
        >
      </div>
    </fieldset>
    <div class="mt-6 flex items-center justify-between">
      <button
        type="button"
        class="rounded-lg bg-orange-600 px-5 py-2.5 text-sm font-medium text-white focus:outline-none focus:ring-4 focus:ring-orange-300"
        >Guardar</button
      >
      <button
        type="button"
        class="rounded-lg px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-gray-200"
        >Cancelar</button
      >
    </div>
  </div>
</form>
