---
import { Image } from 'astro:assets'
import imgUser from '@images/caja/usuario.jpg'
---

<div class="l-navbar" id="navbar">
  <nav class="nav">
    <div>
      <div class="nav__brand">
        <i class="bx bx-menu" id="nav-toggle"></i>
        <a href="#" class="nav__logo"></a>
      </div>
      <div class="nav__list">
        <a href="/admin/" class="nav__link active">
          <i class="bx bxs-dashboard"></i>
          <span class="nav__name">Overview</span>
        </a>
        <li class="">
          <button
            type="button"
            class="nav__link active group flex w-full items-center rounded-lg p-1 text-base transition duration-75"
            aria-controls="dropdown-example"
            data-collapse-toggle="dropdown-example"
          >
            <i class="bx bx-user"></i>
            <span class="ms-3 flex-1 whitespace-nowrap text-left rtl:text-right">usuario</span>
          <i class='bx bxs-chevron-down'></i>
          </button>
          <ul id="dropdown-example" class="hidden space-y-2 py-2">
            <li>
              <a
                href="/admin/user"
                class="nav__link group flex w-full items-center rounded-lg p-1 pl-4 transition duration-75"
              >
                <i class="bx bxs-user-detail"></i>
                Mostar Usuarios
              </a>
            </li>
            <li>
              <a
                href="/admin/user/create"
                class="nav__link group flex w-full items-center rounded-lg p- pl-4 transition duration-75"
              >
                <i class="bx bx-user-plus"></i>
                Crear Usuarios
              </a>
            </li>
          </ul>
        </li>
        <a href="/admin/billing" class="nav__link">
          <i class="bx bxs-report"></i>
          <span class="nav__name">Facturaci贸n</span>
        </a>
        <a href="/admin/nobilling" class="nav__link">
          <i class="bx bx-task"></i>
          <span class="nav__name">No Facturaci贸n</span>
        </a>

      </div>
    </div>
    <div class="nav__brand-1">
      <a href="#" class="nav__link">
        <i class="bx bx-help-circle"></i>
        <span class="nav__name">Ayuda</span>
      </a>
      <a href="#" class="nav__link">
        <i class="bx bxs-cog"></i>
        <span class="nav__name">Configuraci贸n</span>
      </a>
      <a href="#" class="nav__link">
        <Image src={imgUser} alt="user" width="20" height="20" />
        <span class="nav__name"><i class="bx bx-exit"></i> Cerrar sesi贸n</span>
      </a>
    </div>
  </nav>
</div>
